include ../mixins
main
    .rent-single
        .container.margin-center
            a(href="/arenda.html").rent-single__link.text-underline.flex Каталог аренды
            .rent-single__title.font-tenor.text-c3 Квартира 50 кв.м с видом на море
            .rent-single__top.flex.flex-wrap
                .rent-single__top-area.text-c3.text-500.relative
                    span Район
                    .rent-single__top-svg.absolute.w-full
                        <svg width="61" height="2" viewBox="0 0 61 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H61" stroke="url(#paint0_linear_347_3834)"/>
                        <defs>
                        <linearGradient id="paint0_linear_347_3834" x1="0" y1="1" x2="61" y2="1" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4B97A1" stop-opacity="0"/>
                        <stop offset="0.5" stop-color="#156B7F"/>
                        <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
                        </linearGradient>
                        </defs>
                        </svg>
                .rent-single__top-title Название ЖК
                .rent-single__top-lot Лот 1111111
            .rent-single__row.flex
                .rent-single__left
                    .rent-single__images.grid
                        .rent-single__image.img_cover.img_full.img_br
                            +picture('img/rent/single/main/1.jpg', 'img/rent/single/main/1', false, '', 474, 312, '', '')
                        .rent-single__image.img_cover.img_full.img_br
                            +picture('img/rent/single/main/2.jpg', 'img/rent/single/main/2', false, '', 474, 312, '', '')
                        .rent-single__image.img_cover.img_full.img_br
                            +picture('img/rent/single/main/2.jpg', 'img/rent/single/main/2', false, '', 474, 312, '', '')
                    .rent-single__tabs.flex.flex-col
                        .rent-single__tab-tops.flex.overflow-hidden.rent-single__tab-tops_price
                            .rent-single__tab-top.active ₽
                            .rent-single__tab-top $
                            .rent-single__tab-top €
                        .rent-single__tab-contents
                            .rent-single__tab-content.active
                                .rent-single__days
                                    .rent-single__day.flex.flex-wrap.active
                                        .rent-single__day-left 100.000 р в месяц
                                        .rent-single__day-right 4.500 в сутки, от 5 суток
                                    .rent-single__day.flex.flex-wrap
                                        .rent-single__day-left 1090$ в месяц
                                        .rent-single__day-right 49$ в сутки, от 5 суток
                                    .rent-single__day.flex.flex-wrap
                                        .rent-single__day-left 987€ в месяц
                                        .rent-single__day-right 45€ в сутки, от 5 суток
                                .rent-single__desc Furnished room next to Festival Plaza Mall. You can also easily get around the city as the Energy Metro Station is a few steps to the building. There are a lot of cafes, restaurants nearby. We prefer ladies only. You will have your own private room and private bathroom, with a shared kitchen and small balcony too. The room furniture includes: 1 queen bed, nightstands, chair and mirrors. A huge private bathroom with a shower.
                                ul.rent-single__list.flex.flex-wrap(data-count="8" data-status="true")
                                    li.rent-single__list-li.rent-single__list-li_first.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/element.png', 'img/rent/single/main/element', true, '', 24, 24, '', '')
                                        .rent-single__list-title Высокий этаж
                                    li.rent-single__list-li.rent-single__list-li_second.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/wifi.png', 'img/rent/single/main/wifi', true, '', 24, 24, '', '')
                                        .rent-single__list-title Wi-Fi
                                    li.rent-single__list-li.rent-single__list-li_third.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/balcony.png', 'img/rent/single/main/balcony', true, '', 22, 22, '', '')
                                        .rent-single__list-title Балкон
                                    li.rent-single__list-li.rent-single__list-li_first.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/bed.png', 'img/rent/single/main/bed', true, '', 25, 25, '', '')
                                        .rent-single__list-title 2 двуспальные кровати
                                    li.rent-single__list-li.rent-single__list-li_second.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/dishwasher.png', 'img/rent/single/main/dishwasher', true, '', 20, 20, '', '')
                                        .rent-single__list-title Посудомоечная машина
                                    li.rent-single__list-li.rent-single__list-li_third.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/monitor.png', 'img/rent/single/main/monitor', true, '', 25, 25, '', '')
                                        .rent-single__list-title TV
                                    li.rent-single__list-li.rent-single__list-li_first.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/shower.png', 'img/rent/single/main/shower', true, '', 26, 26, '', '')
                                        .rent-single__list-title Душевая кабина
                                    li.rent-single__list-li.rent-single__list-li_second.flex.flex-ai-center.active
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/air-conditioner.png', 'img/rent/single/main/air-conditioner', true, '', 24, 24, '', '')
                                        .rent-single__list-title Кондиционер
                                    li.rent-single__list-li.rent-single__list-li_third.flex.flex-ai-center
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/monitor.png', 'img/rent/single/main/monitor', true, '', 25, 25, '', '')
                                        .rent-single__list-title TV
                                    li.rent-single__list-li.rent-single__list-li_first.flex.flex-ai-center
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/shower.png', 'img/rent/single/main/shower', true, '', 26, 26, '', '')
                                        .rent-single__list-title Душевая кабина
                                    li.rent-single__list-li.rent-single__list-li_second.flex.flex-ai-center
                                        .rent-single__list-svg
                                            +picture('img/rent/single/main/air-conditioner.png', 'img/rent/single/main/air-conditioner', true, '', 24, 24, '', '')
                                        .rent-single__list-title Кондиционер
                                    li.rent-single__list-li.rent-single__list-li_third.flex.flex-ai-center.rent-single__list-li_more.text-c3.text-underline(data-text-show="ещё" data-text-hide="скрыть") ещё
                                .rent-single__rules
                                    .rent-single__rules-title.font-tenor.text-c3 Правила дома
                                    .rent-single__rules-tabs.flex
                                        .rent-single__rules-tab.active
                                            span Краткосрочная аренда (от 5 дн до 3 мес)
                                            <svg width="393" height="2" viewBox="0 0 393 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 1H393" stroke="url(#paint0_linear_347_3835)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_347_3835" x1="0" y1="1" x2="393" y2="1" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#4B97A1" stop-opacity="0"/>
                                            <stop offset="0.5" stop-color="#156B7F"/>
                                            <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
                                            </linearGradient>
                                            </defs>
                                            </svg>
                                        .rent-single__rules-tab
                                            span Долгосрочная аренда (от 3 мес)
                                            <svg width="393" height="2" viewBox="0 0 393 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 1H393" stroke="url(#paint0_linear_347_3835)"/>
                                            <defs>
                                            <linearGradient id="paint0_linear_347_3835" x1="0" y1="1" x2="393" y2="1" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#4B97A1" stop-opacity="0"/>
                                            <stop offset="0.5" stop-color="#156B7F"/>
                                            <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
                                            </linearGradient>
                                            </defs>
                                            </svg>
                                    .rent-single__rules-contents
                                        .rent-single__rules-content.active
                                            .rent-single__advs.flex.flex-wrap
                                                +singleAdv(
                                                    'clock',
                                                    'Прибытие после 15:00',
                                                    19,
                                                    19
                                                )
                                                +singleAdv(
                                                    'profile-2user',
                                                    'Максимум 2 гостя',
                                                    21,
                                                    21
                                                )
                                                +singleAdv(
                                                    'clock2',
                                                    'Выезд до 11:00',
                                                    19,
                                                    19
                                                )
                                                +singleAdv(
                                                    'paw',
                                                    'Можно с питомцами',
                                                    19,
                                                    19
                                                )
                                                +singleAdv(
                                                    'door',
                                                    'Самостоятельное прибытие (цифровой код)',
                                                    22,
                                                    22
                                                )
                                                +singleAdv(
                                                    'celebrate',
                                                    'Без вечеринок и мероприятий',
                                                    23,
                                                    23
                                                )
                                                +singleAdv(
                                                    'dont-smoke',
                                                    'Курение запрещено',
                                                    24,
                                                    24
                                                )
                                                +singleAdv(
                                                    'close',
                                                    'Бесплатная отмена до 19 октября',
                                                    13,
                                                    13
                                                )
                                            a(href="#!").rent-single__rules-btn.p-btn.flex.flex-ai-center.flex-j-center.text-500 Правила отмены
                                        .rent-single__rules-content
                                            form.rent-single__form.bg.lazy(data-bg="img/rent/single/form/1.webp")
                                                .rent-single__form-btn.p-btn.flex.flex-ai-center.flex-j-center.text-500 оставьте заявку
                                                .rent-single__form-subtitle.text-500.text-c5 на скидку за количество месяцев аренды и заключения договора с собственником
                    .rent-single__map
                        .rent-single__map-title.font-tenor.section__title.text-c3 Где находится
                        .rent-single__map-item#rent-single__map-item
                    .rent-single__service
                        .rent-single__service-title.font-tenor.section__title.text-c3 Услуги DADI
                        .rent-single__service-row.grid
                            .rent-single__service-item.flex.flex-col
                                .rent-single__service-img.img_cover.img_br
                                    +picture('img/rent/single/service/1.jpg', 'img/rent/single/service/1', true, '', 287, 183, '', '')
                                .rent-single__service-text
                                    .rent-single__service-subtitle Личный кабинет
                                    .rent-single__service-desc для отслеживания бронирования и оплаты
                            .rent-single__service-item.flex.flex-col
                                .rent-single__service-img.img_cover.img_br
                                    +picture('img/rent/single/service/2.jpg', 'img/rent/single/service/2', true, '', 287, 183, '', '')
                                .rent-single__service-text
                                    .rent-single__service-subtitle Индивидуальный подбор
                                    .rent-single__service-desc недвижимости для аренды или покупки под ваши запросы
                            .rent-single__service-item.flex
                                .rent-single__service-img.img_cover.img_br
                                    +picture('img/rent/single/service/3.jpg', 'img/rent/single/service/3', true, '', 287, 183, '', '')
                                .rent-single__service-text
                                    .rent-single__service-subtitle Персональный ассистент
                                    .rent-single__service-desc поможет с трансфером, арендой автомобиля, химчисткой - решит все бытовые вопросы в новой стране 24/7
                            .rent-single__service-item.flex
                                .rent-single__service-img.img_cover.img_br
                                    +picture('img/rent/single/service/4.jpg', 'img/rent/single/service/4', true, '', 287, 183, '', '')
                                .rent-single__service-text
                                    .rent-single__service-subtitle Юридическое сопровождение
                                    .rent-single__service-desc при аренде на срок более 3 месяцев, поможем проверить документы и заключить выгодный договор с собственником
                        .rent-single__service-btn.p-btn.flex.flex-ai-center.flex-j-center.text-500 Оставить заявку
                    .rent-single__faq
                        .rent-single__faq-item.flex.flex-ai-center.bg-c1.text-c2
                            .rent-single__faq-left
                                .rent-single__faq-title.text-500 Задайте свой вопрос
                                .rent-single__faq-subtitle Оставьте заявку на <span>бесплатную консультацию</span>
                                form.rent-single__faq-form
                                    .get__item-text.relative
                                        .get__item-inputs.flex.flex-col
                                            .get__item-input.form__input
                                                input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                                        .get__item-end
                                            button(type="submit").p-btn.p-btn_white.flex.flex-ai-center.flex-j-center.text-500 Получить консультацию
                                            label.p-check.flex.flex-ai-center
                                                input(type="checkbox" name="check" checked)
                                                span.p-check__square.flex.flex-j-center.flex-ai-center.flex-shrink
                                                    +picture('img/main/get/check.png', 'img/main/get/check', true, '', 13, 13, '', '')
                                                span.p-check__title Отправляя форму, вы даёте согласие на обработку персональных данных
                                .rent-single__faq-end.flex.flex-ai-center
                                    .rent-single__socials.flex.flex-ai-center
                                        a(href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.").rent-single__socials-item.flex.flex-ai-center.flex-j-center.bg-c2
                                            +picture('img/rent/single/faq/whatsapp.png', 'img/rent/single/faq/whatsapp', true, '', 15, 15, '', '')
                                        a(href="#!").rent-single__socials-item.flex.flex-ai-center.flex-j-center.bg-c2
                                            +picture('img/rent/single/faq/telegram.png', 'img/rent/single/faq/telegram', true, '', 14, 14, '', '')
                                    a(href="tel:+79999999999").rent-single__socials-phone + 7 (999) 999-99-99
                            .rent-single__faq-right
                                .rent-single__faq-img
                                    +picture('img/rent/single/faq/bg.jpg', 'img/rent/single/faq/bg', true, '', 226, 518, '', '')
                form.rent-single__right
                    .rent-single__right-item
                        .rent-single__right-date.flex.flex-ai-center.text-500
                            span.rent-single__right-date_start 27 декабря 2023 г.
                            span &nbsp;-&nbsp;
                            span.rent-single__right-date_end 27 декабря 2023 г.
                        .rent-single__right-input
                            input(type="text" name="date" value="")
                    .rent-single__subitem.sticky
                        .rent-single__price.font-roboto
                            del
                                span.rent-single__price-old 15 810
                                span ₽
                            ins
                                span.rent-single__price-new 13 430
                                span ₽
                                |&nbsp;ночь
                        .rent-single__cols.flex.flex-col.font-roboto
                            .rent-single__col.flex
                                .rent-single__col-item
                                    .rent-single__col-title.uppercase.text-500 Прибытие
                                    .rent-single__col-date.rent-single__col-date_start.text-500 27.12.2023
                                .rent-single__col-item
                                    .rent-single__col-title.uppercase.text-500 Выезд
                                    .rent-single__col-date.rent-single__col-date_end.text-500 27.12.2023
                            .rent-single__col.w-full
                                .rent-single__col-item.rent-single__col-item_select.w-full
                                    .rent-single__select.flex.flex-ai-center.flex-j-between.w-full.relative
                                        .rent-single__select-current.relative.w-full.flex.flex-ai-center.flex-j-between.cursor-pointer
                                            .rent-single__col-title.uppercase.text-500.absolute Для кого
                                            .rent-single__select-title.text-500 1 гость
                                            .rent-single__select-arrow
                                                +picture('img/rent/single/main/arrow.png', 'img/rent/single/main/arrow', false, '', 16, 16, '', '')
                                        .rent-single__select-abs.absolute.w-full
                                            .rent-single__select-items.flex.flex-col
                                                .rent-single__select-item.flex.flex-ai-center.w-full.flex-j-between
                                                    .rent-single__select-left
                                                        .rent-single__select-subtitle.text-500 Взрослые
                                                        .rent-single__select-subdesc От 13 лет
                                                    .rent-single__select-right
                                                        .rent-single__quantity.flex.flex-ai-center(data-texts="[\"гость\",\"гостя\",\"гостей\"]")
                                                            .rent-single__quantity-item.rent-single__quantity-minus.flex.flex-ai-center.flex-j-center
                                                                <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"><path d="m.75 6.75h10.5v-1.5h-10.5z"></path></svg>
                                                            .rent-single__quantity-input
                                                                input(type="text" name="adults" value="1" disabled)
                                                            .rent-single__quantity-item.rent-single__quantity-plus.flex.flex-ai-center.flex-j-center
                                                                <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" ><path d="m6.75.75v4.5h4.5v1.5h-4.5v4.5h-1.5v-4.5h-4.5v-1.5h4.5v-4.5z"></path></svg>
                                            .rent-single__select-close.text-underline.flex.flex-j-end.cursor-pointer Закрыть
                        .rent-single__button
                            button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Оставить заявку
                        .rent-single__end.flex.flex-col.font-roboto
                            .rent-single__end-item.flex.flex-ai-center.flex-j-between.w-full
                                .rent-single__end-title.text-500
                                    span.rent-single__end-price 13 430
                                    |₽
                                    span.rent-single__end-span х 2 ночи
                                .rent-single__end-subprice.text-500
                                    span 26 860
                                    | ₽
                            .rent-single__end-item.flex.flex-ai-center.flex-j-between.w-full
                                .rent-single__end-title.text-500
                                    span.rent-single__end-price Плата за уборку
                                .rent-single__end-subprice.text-500
                                    span 5 231
                                    | ₽
                            .rent-single__end-item.rent-single__end-item_last.flex.flex-ai-center.flex-j-between.w-full.text-c3
                                .rent-single__end-title.text-500
                                    span.rent-single__end-price Всего ( без учета налогов)
                                .rent-single__end-subprice.text-500
                                    span 32 091
                                    | ₽
    .estate.overflow-hidden.estate_second.offers
        .container.margin-center
            .section__title.font-tenor.text-c3 Другие предложения
            .estate__items.flex.flex-col
                .estate__item.relative.w-full
                    .estate__swiper.relative
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    include ../../components/filterCard
                                .swiper-slide
                                    include ../../components/filterCard
                                .swiper-slide
                                    include ../../components/filterCard
                                .swiper-slide
                                    include ../../components/filterCard
                                .swiper-slide
                                    include ../../components/filterCard
                                .swiper-slide
                                    include ../../components/filterCard
                                .swiper-slide
                                    .p-card.p-card_back.relative
                                        .p-card__abs.absolute.top-0.left-0.w-full.h-full.flex.flex-ai-center.flex-j-center.bg-c3.text-c2
                                            a(href="/arenda.html").p-card__abs-link.text-underline.text-center.text-500.margin-center Вернуться на страницу Аренды
                        .main_swiper-arrows.flex.absolute
                            .swiper-button.swiper-button-prev.flex.flex-ai-center.flex-j-center
                                +picture('img/main/estate/arrow-left.png', 'img/main/estate/arrow-left', true, '', 18, 18, '', '')
                            .swiper-button.swiper-button-next.flex.flex-ai-center.flex-j-center
                                +picture('img/main/estate/arrow-right.png', 'img/main/estate/arrow-right', true, '', 18, 18, '', '')
    include ../../components/contacts