include ../mixins
main
    .rent-single
        .container.margin-center
            a(href="#!").rent-single__link.text-underline Каталог аренды
            .rent-single__title Квартира 50 кв.м с видом на море
            
    include ../../components/contacts