include ../mixins
main
    .dadi
        .container.margin-center
            .dadi__row.relative.flex.flex-j-between
                .dadi__img-left.relative.img_br.img_full.p-img.img_cover
                    +picture('img/dadi/1.jpg', 'img/dadi/1', false, '', 492, 538, '', '')
                    +picture('img/dadi/1_mb.jpg', 'img/dadi/1_mb', false, '', 254, 250, '', '')
                .dadi__img-right.relative.img_br.img_full.p-img.img_cover
                    +picture('img/dadi/2.jpg', 'img/dadi/2', false, '', 291, 278, '', '')
                    +picture('img/dadi/2_mb.jpg', 'img/dadi/2_mb', false, '', 160, 97, '', '')
                .dadi__title.absolute.p-img
                    +picture('img/dadi/dadi.png', 'img/dadi/dadi', false, '', 511, 193, '', '')
                    +picture('img/dadi/dadi_mb.png', 'img/dadi/dadi_mb', false, '', 259, 99, '', '')
                .dadi__subtitle.absolute Прогрессивное агентство недвижимости с акцентом на сервис и комфорт наших клиентов
                .dadi__items.flex.absolute
                    .dadi__item
                        .dadi__item-title.uppercase.font-tenor.text-c3 Dadi properties
                        .dadi__item-desc Полный цикл управления недвижимостью: оценка, продажа, покупка, арендное управление и обслуживание, юридическое сопровождение
                    .dadi__item
                        .dadi__item-title.uppercase.font-tenor.text-c3 DADI HOLIDAYS
                        .dadi__item-desc Аренда апартаментов с сервисом 5* отеля: букинг сервис, личный ассистент в стране, организация экскурсийе
                    .dadi__item
                        .dadi__item-title.uppercase.font-tenor.text-c3 DADI DESIGN
                        .dadi__item-desc Подбор команды по ремонту и дизайну квартиры без отделки
                        a(href="#!").dadi__item-link.text-underline.text-600.text-c3 Смотреть кейсы
    .service
        .container.margin-center
            .service__item.relative
                .service__item-text.relative
                    .section__title.font-tenor.text-c3 Услуги DADI
                    .service__item-subtitle.text-500.text-c5 Индивидуальный подбор
                    .service__item-subtitle_2 недвижимости для аренды или покупки под ваши запросы
                    form
                        .service__form.form
                            .service__form-inputs.flex.flex-col
                                .service__form-input.w-full.form__input
                                    input(type="text" name="fname" placeholder="Ваше имя" required)
                                .service__form-input.w-full.form__input
                                    input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                            button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Оставить заявку
                .service__item-bg.absolute.right-0.bottom-0.p-img
                    +picture('img/main/service/1.png', 'img/main/service/1', true, '', 907, 604, '', '')
                    +picture('img/main/service/1_mb.png', 'img/main/service/1_mb', true, '', 340, 262, '', '')
    .type
        .container.margin-center
            .section__title.font-tenor.text-c3.text-center Аренда
            .type__row.grid
                .type__item.flex.flex-ai-center
                    .type__item-left
                        .type__item-img.w-full.img_cover.img_br
                            +picture('img/main/type/1.jpg', 'img/main/type/1', true, '', 323, 259, '', '')
                    .type__item-right
                        .type__title Букинг-сервис
                        .type__list.p-list
                            ul
                                li бронируйте свободные апартаменты через удобный календарь
                                li оплачивайте, общайтесь с менеджером и отслеживайте информацию в личном кабинете
                        a(href="/arenda.html").type__link.text-600.text-underline.text-c3 Забронировать квартиру
                .type__item.flex.flex-col.flex-ai-center.text-center
                    .type__item-left
                        .type__item-img.w-full.img_cover.img_br
                            +picture('img/main/type/2.jpg', 'img/main/type/2', true, '', 376, 379, '', '')
                    .type__item-right
                        .type__title Персональный ассистент в стране
                        .type__desc поможет с трансфером, арендой автомобиля, химчисткой - решит все бытовые вопросы в новой стране 24/7
                        .type__link.text-600.text-underline.modal__show.cursor-pointer(data-modal="type-first") Заказать трансфер из аэропорта
                .type__item.flex.flex-ai-center
                    .type__item-left
                        .type__item-img.w-full.img_cover.img_br
                            +picture('img/main/type/3.jpg', 'img/main/type/3', true, '', 323, 259, '', '')
                    .type__item-right
                        .type__title Юридическое сопровождение
                        .type__desc при аренде на срок более 3 месяцев, поможем проверить документы и заключить выгодный договор с собственником
                        .type__link.text-600.text-underline.modal__show(data-modal="type-second") Оставить заявку на долгосрочную аренду
            a(href="/arenda.html").p-btn.flex.flex-ai-center.flex-j-center.text-500 Перейти в каталог аренды
    .buy.overflow-hidden
        .container.margin-center
            .section__title.font-tenor.text-c3.text-center Покупка
            .buy__row.flex.hidden
                .buy__item.flex-shrink
                    .buy__item-img.img_br.img_cover.buy__item-img_1
                        +picture('img/main/buy/1.jpg', 'img/main/buy/1', true, '', 325, 162, '', '')
                    .buy__item-text
                        .buy__item-title.text-500 Дистанционная покупка недвижимости
                        .buy__item-list.p-list
                            ul
                                li организуем онлайн просмотр
                                li подготовим и переведем все необходимые документы для покупки недвижимости из любой точки мира
                        .buy__item-link.text-600.text-underline.modal__show(data-modal="type-second") Заявка на подбор недвижимости
                .buy__item.flex-shrink
                    .buy__item-img.img_br.img_cover.buy__item-img_2
                        +picture('img/main/buy/2.jpg', 'img/main/buy/2', true, '', 325, 125, '', '')
                    .buy__item-text
                        .buy__item-title.text-500 Арендное управление
                        .buy__item-subtitle.text-500 Берем на себя все обязанности:
                        .buy__item-list.p-list
                            ul
                                li поиск арендаторов
                                li заключение договоров аренды
                                li взимание арендных платежей
                                li урегулирование споров с арендаторами
                                li общее управление недвижимостью в интересах собственника
                        .buy__item-desc.text-500 Обеспечим максимальную доходность и&nbsp;защиту ваших интересов.
                .buy__item.flex-shrink
                    .buy__item-img.img_br.img_cover.buy__item-img_3
                        +picture('img/main/buy/3.jpg', 'img/main/buy/3', true, '', 325, 215, '', '')
                    .buy__item-text
                        .buy__item-title.text-500 Юридические гарантии
                        .buy__item-desc.text-500 Берем на себя всю ответственность по работе с документами, получении ВНЖ, коммуникации и оформлении договоров
                .buy__item.flex-shrink
                    .buy__item-img.img_br.img_cover.buy__item-img_4
                        +picture('img/main/buy/4.jpg', 'img/main/buy/4', true, '', 325, 152, '', '')
                    .buy__item-text
                        .buy__item-title.text-500 Инвестирование вместе&nbsp;с&nbsp;DADI
                        .buy__item-desc.text-500 Мы являемся действующими инвесторами и предлагаем нашим преданным клиентам выгодные оптовые покупки недвижимости у застройщиков. Инвестируйте в проверенные проекты вместе с нами
                        .buy__item-link.text-600.text-underline.modal__show(data-modal="type-second") Заявка на подбор недвижимости
                .buy__item.flex-shrink
                    .buy__item-img.img_br.img_cover.buy__item-img_5
                        +picture('img/main/buy/5.jpg', 'img/main/buy/5', true, '', 325, 188, '', '')
                    .buy__item-text
                        .buy__item-title.text-500 Оценка недвижимости
                        .buy__item-desc.text-500 Профессионально оценим вашу недвижимость для продажи, проконсультируем по нюансам и поможем сформировать предложение для покупателя.
                        .buy__item-link.text-600.text-underline.modal__show(data-modal="type-second") Заявка на оценку недвижимости
                .buy__item.flex-shrink
                    .buy__item-img.img_br.img_cover.buy__item-img_6
                        +picture('img/main/buy/6.jpg', 'img/main/buy/6', true, '', 325, 204, '', '')
                    .buy__item-text
                        .buy__item-title.text-500 Срочный выкуп недвижимости
                        .buy__item-desc.text-500 Выкупим вашу недвижимость за 24 часа с момента просмотра или добавим проект в нашу базу.
                        .buy__item-link.text-600.text-underline.modal__show(data-modal="type-second") Заявка на оценку недвижимости
            a(href="/buy.html").p-btn.flex.flex-ai-center.flex-j-center.text-500 Перейти в каталог покупки
    .principle
        .container.margin-center
            .principle__block.relative
                .principle__img.principle__img_1.absolute.img_cover
                    +picture('img/main/principle/1.jpg', 'img/main/principle/1', true, '', 448, 493, '', '')
                .principle__img.principle__img_2.absolute.img_cover
                    +picture('img/main/principle/2.jpg', 'img/main/principle/2', true, '', 337, 102, '', '')
                .principle__img.principle__img_3.absolute.img_cover
                    +picture('img/main/principle/3.jpg', 'img/main/principle/3', true, '', 337, 288, '', '')
                .section__title.font-tenor.text-c3 Наши принципы
                .principle__items.flex.flex-col
                    +principle(
                        'Поддержка на всех этапах',
                        'Менеджер-агент DADI на связи с вами по всем вопросам, объяснит процессы и нюансы, профессионально сопроводит все юридические аспекты',
                    )
                    +principle(
                        'Великолепный сервис',
                        'Мы делаем акцент на качество сервиса и комфорт наших клиентов, поэтому все механизмы работают как часы и все агенты проходят личный отбор у главных лиц компании',
                    )
                    +principle(
                        'Долгосрочное сотрудничество',
                        'Наша цель - не просто провести сделку. Мы работаем на долгосрочную перспективу: сопровождаем наших клиентов \n' +
                        'в новых проектах, делимся новостями и становимся друзьями',
                    )
    .team.team_second
        .container.margin-center
            .section__title.font-tenor.text-c3 Команда DADI
            .team__row.flex
                .team__left
                    .team__img.img_br.img_cover
                        +picture('img/main/team/1.jpg', 'img/main/team/1', true, '', 381, 406, '', '')
                .team__right
                    .team__text.relative.flex
                        .team__text-line.relative
                            <svg xmlns="http://www.w3.org/2000/svg" width="2" height="461" viewBox="0 0 2 461" fill="none">
                            <path d="M1 0V461" stroke="url(#paint0_linear_347_1155)" stroke-width="2"/>
                            <defs>
                            <linearGradient id="paint0_linear_347_1155" x1="0.965365" y1="486.5" x2="0.951261" y2="-138.804" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#4B97A1" stop-opacity="0"/>
                            <stop offset="0.5" stop-color="#156B7F"/>
                            <stop offset="1" stop-color="#4B97A1" stop-opacity="0"/>
                            </linearGradient>
                            </defs>
                            </svg>
                            .team__text-line-circle.absolute
                        .team__text-items.flex.flex-col
                            .team__text-item Мы эксперты в области недвижимости крупных компаний РФ и СНГ более 10 лет.
                            .team__text-item Оперативность, полное снятие головной боли, комфортное сопровождение наших клиентов - всё это основы нашей работы. Мы хотим делать для вас большее, привносить лучшее из опыта российского рынка в быстрые реалии Дубая.
                            .team__text-item Каждый день работаем над качеством сервиса и привлекаем лучшие команды на аутсорс в аналитике и обучении.
                            .team__text-item Наша цель - не просто провести сделку. Мы работаем на долгосрочную перспективу: сопровождаем наших клиентов в новых проектах, делимся новостями и становимся друзьями.
    include ../../components/arendaHelp
    include ../../components/contacts