include ../mixins
main
    .rent-single
        .container.margin-center.relative
            a(href="/buy.html").rent-single__link.text-underline.flex Каталог ЖК и Застройщиков
            .rent-single__title.font-tenor.text-c3 Название ЖК
            .rent-single__btns.flex.absolute.top-0.right-0
                .rent-single__compar.rent-single__btn.flex.flex-ai-center.flex-j-center.bg-c3
                    <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.8598 4.31562V1.38918C2.8598 1.20827 2.78811 1.03476 2.66049 0.906829C2.53287 0.778901 2.35978 0.707031 2.1793 0.707031C1.99882 0.707031 1.82573 0.778901 1.69811 0.906829C1.57049 1.03476 1.49879 1.20827 1.49879 1.38918V4.32244C1.06237 4.46815 0.682767 4.74784 0.413763 5.12187C0.144758 5.49591 0 5.94532 0 6.40642C0 6.86752 0.144758 7.31693 0.413763 7.69097C0.682767 8.065 1.06237 8.34469 1.49879 8.4904V19.1252C1.49879 19.3061 1.57049 19.4796 1.69811 19.6075C1.82573 19.7354 1.99882 19.8073 2.1793 19.8073C2.35978 19.8073 2.53287 19.7354 2.66049 19.6075C2.78811 19.4796 2.8598 19.3061 2.8598 19.1252V8.50404C3.30375 8.36324 3.69141 8.08433 3.96655 7.70778C4.2417 7.33122 4.39003 6.87659 4.39003 6.40983C4.39003 5.94307 4.2417 5.48844 3.96655 5.11189C3.69141 4.73533 3.30375 4.45642 2.8598 4.31562Z" fill="white"/>
                    <path d="M9.66449 12.6106V1.38918C9.66449 1.20827 9.5928 1.03476 9.46518 0.906829C9.33756 0.778901 9.16447 0.707031 8.98399 0.707031C8.8035 0.707031 8.63041 0.778901 8.50279 0.906829C8.37517 1.03476 8.30348 1.20827 8.30348 1.38918V12.6242C7.86706 12.77 7.48745 13.0496 7.21845 13.4237C6.94945 13.7977 6.80469 14.2471 6.80469 14.7082C6.80469 15.1693 6.94945 15.6187 7.21845 15.9928C7.48745 16.3668 7.86706 16.6465 8.30348 16.7922V19.1252C8.30348 19.3061 8.37517 19.4796 8.50279 19.6075C8.63041 19.7354 8.8035 19.8073 8.98399 19.8073C9.16447 19.8073 9.33756 19.7354 9.46518 19.6075C9.5928 19.4796 9.66449 19.3061 9.66449 19.1252V16.8058C10.1084 16.665 10.4961 16.3861 10.7712 16.0096C11.0464 15.633 11.1947 15.1784 11.1947 14.7116C11.1947 14.2449 11.0464 13.7902 10.7712 13.4137C10.4961 13.0371 10.1084 12.7582 9.66449 12.6174V12.6106Z" fill="white"/>
                    <path d="M16.4702 6.67587V1.38918C16.4702 1.20827 16.3985 1.03476 16.2708 0.906829C16.1432 0.778901 15.9701 0.707031 15.7897 0.707031C15.6092 0.707031 15.4361 0.778901 15.3085 0.906829C15.1808 1.03476 15.1091 1.20827 15.1091 1.38918V6.68269C14.6727 6.8284 14.2931 7.10809 14.0241 7.48212C13.7551 7.85616 13.6104 8.30557 13.6104 8.76667C13.6104 9.22777 13.7551 9.67718 14.0241 10.0512C14.2931 10.4252 14.6727 10.7049 15.1091 10.8506V19.1252C15.1091 19.3061 15.1808 19.4796 15.3085 19.6075C15.4361 19.7354 15.6092 19.8073 15.7897 19.8073C15.9701 19.8073 16.1432 19.7354 16.2708 19.6075C16.3985 19.4796 16.4702 19.3061 16.4702 19.1252V10.8643C16.9141 10.7235 17.3018 10.4446 17.5769 10.068C17.8521 9.69147 18.0004 9.23684 18.0004 8.77008C18.0004 8.30332 17.8521 7.84869 17.5769 7.47213C17.3018 7.09558 16.9141 6.81667 16.4702 6.67587Z" fill="white"/>
                    </svg>
                .rent-single__fav.rent-single__btn.flex.flex-ai-center.flex-j-center.bg-c3
                    <svg width="15" height="23" viewBox="0 0 15 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.807292 19.9773V1.6063C0.807292 1.54319 0.83079 1.49675 0.856472 1.46934C0.881653 1.44245 0.900967 1.4401 0.909179 1.4401H13.6221C13.6334 1.4401 13.6519 1.4433 13.6754 1.46846C13.6999 1.49469 13.724 1.54102 13.724 1.6063V19.9773L7.85562 13.6939L7.26562 13.0622L6.67563 13.6939L0.807292 19.9773Z" stroke="white" stroke-width="1.61458"/>
                    </svg>
            .rent-single__top.flex.flex-wrap.rent-single__top_2
                .rent-single__top-title.text-c5.text-500 Район
                .rent-single__top-title.text-c5.text-500 Застройщик
            .rent-single__images.grid.rent-single__images_2
                .rent-single__image.img_cover.img_full.img_br
                    +picture('img/rent/single/main/3.jpg', 'img/rent/single/main/3', false, '', 474, 317, '', '')
                .rent-single__image.img_cover.img_full.img_br
                    +picture('img/rent/single/main/2.jpg', 'img/rent/single/main/2', false, '', 230, 151, '', '')
                .rent-single__image.img_cover.img_full.img_br
                    +picture('img/rent/single/main/2.jpg', 'img/rent/single/main/2', false, '', 230, 151, '', '')
                .rent-single__image.img_cover.img_full.img_br
                    +picture('img/rent/single/main/2.jpg', 'img/rent/single/main/2', false, '', 230, 151, '', '')
                .rent-single__image.img_cover.img_full.img_br
                    +picture('img/rent/single/main/2.jpg', 'img/rent/single/main/2', false, '', 230, 151, '', '')
            .rent-single__row.flex.rent-single__row_2
                .rent-single__left
                    .rent-single__tabs.flex.flex-col.rent-single__tabs_2
                        .rent-single__tabs-block.flex
                            .rent-single__tab-tops.flex.overflow-hidden.rent-single__tab-tops_price
                                .rent-single__tab-top.active ₽
                                .rent-single__tab-top $
                                .rent-single__tab-top €
                            .rent-single__tab-tops.flex.overflow-hidden.rent-single__tab-tops_second
                                .rent-single__tab-top.active кв. м
                                .rent-single__tab-top км. фут
                        .rent-single__tab-contents
                            .rent-single__tab-content.active
                                .rent-single__days
                                    .rent-single__day.flex.flex-wrap.active
                                        .rent-single__day-left 100.000 р в месяц
                                        .rent-single__day-right
                                            .rent-single__day-seconds
                                                .rent-single__day-second.active 20.000 р за кв.м
                                                .rent-single__day-second 20.000 р за км. фут
                                    .rent-single__day.flex.flex-wrap
                                        .rent-single__day-left 1090$
                                        .rent-single__day-right
                                            .rent-single__day-seconds
                                                .rent-single__day-second.active 1090$ р за кв.м
                                                .rent-single__day-second 1050$ р за км. фут
                                    .rent-single__day.flex.flex-wrap
                                        .rent-single__day-left 987€
                                        .rent-single__day-right
                                            .rent-single__day-seconds
                                                .rent-single__day-second.active 987€ р за кв.м
                                                .rent-single__day-second 543€ р за км. фут
                                .rent-single__edges.flex.flex-wrap.rent-single__edges_2
                                    .rent-single__edges-item.flex.flex-ai-end
                                        .rent-single__edges-img
                                            +picture('img/rent/single/edges/1.png', 'img/rent/single/edges/1', true, '', 28, 28, '', '')
                                        .rent-single__edges-text
                                            .rent-single__edges-title площадь
                                            .rent-single__edges-subtitle 50 м2-600 м2
                                    .rent-single__edges-item.flex.flex-ai-end
                                        .rent-single__edges-img
                                            +picture('img/rent/single/edges/2.png', 'img/rent/single/edges/2', true, '', 27, 27, '', '')
                                        .rent-single__edges-text
                                            .rent-single__edges-title Этажность
                                            .rent-single__edges-subtitle 40
                                    .rent-single__edges-item.flex.flex-ai-end
                                        .rent-single__edges-img
                                            +picture('img/rent/single/edges/6.png', 'img/rent/single/edges/6', true, '', 26, 26, '', '')
                                        .rent-single__edges-text
                                            .rent-single__edges-title Застройщик
                                            .rent-single__edges-subtitle Название
                                    .rent-single__edges-item.flex.flex-ai-end
                                        .rent-single__edges-img
                                            +picture('img/rent/single/edges/3.png', 'img/rent/single/edges/3', true, '', 32, 32, '', '')
                                        .rent-single__edges-text
                                            .rent-single__edges-title Сдача
                                            .rent-single__edges-subtitle 2 кв. 2025
                                .rent-single__desc.rent-single__desc_2 Furnished room next to Festival Plaza Mall. You can also easily get around the city as the Energy Metro Station is a few steps to the building. There are a lot of cafes, restaurants nearby. We prefer ladies only. You will have your own private room and private bathroom, with a shared kitchen and small balcony too. The room furniture includes: 1 queen bed, nightstands, chair and mirrors. A huge private bathroom with a shower.
                                .rent-single__floor
                                    .rent-single__floor-title.section__title.font-tenor.text-c3 План этажа
                                    .rent-single__floor-row.flex
                                        .rent-single__floor-left.relative
                                            .swiper
                                                .swiper-wrapper
                                                    .swiper-slide
                                                        +picture('img/rent/single/floor/1.jpg', 'img/rent/single/floor/1', true, '', 444, 300, '', '')
                                                    .swiper-slide
                                                        +picture('img/rent/single/floor/1.jpg', 'img/rent/single/floor/1', true, '', 444, 300, '', '')
                                                    .swiper-slide
                                                        +picture('img/rent/single/floor/1.jpg', 'img/rent/single/floor/1', true, '', 444, 300, '', '')
                                            .rent-single__floor-arrows.flex
                                                .swiper-button.swiper-button-prev
                                                    +picture('img/rent/single/floor/left.png', 'img/rent/single/floor/left', true, '', 18, 18, '', '')
                                                .swiper-button.swiper-button-next
                                                    +picture('img/rent/single/floor/right.png', 'img/rent/single/floor/right', true, '', 18, 18, '', '')
                                        .rent-single__floor-right
                                            .rent-single__floor-list.flex.flex-col
                                                .rent-single__floor-li.flex.flex-ai-center
                                                    .rent-single__floor-svg.bg-c5.flex.flex-ai-center.flex-j-center
                                                        +picture('img/rent/single/edges/7.png', 'img/rent/single/edges/7', true, '', 16, 16, '', '')
                                                    .rent-single__floor-subtitle Спальни: 1
                                                .rent-single__floor-li.flex.flex-ai-center
                                                    .rent-single__floor-svg.bg-c5.flex.flex-ai-center.flex-j-center
                                                        +picture('img/rent/single/edges/bath.png', 'img/rent/single/edges/bath', true, '', 17, 17, '', '')
                                                    .rent-single__floor-subtitle Ванная комната: 1
                                .rent-single__advs-subtitle.section__title.font-tenor.text-c3 Удобства
                                .rent-single__advs.flex.flex-wrap.rent-single__advs_2
                                    +singleAdv(
                                        'slider',
                                        'Детская  площадка',
                                        22,
                                        22
                                    )
                                    +singleAdv(
                                        'weight',
                                        'Тренажерный зал',
                                        24,
                                        24
                                    )
                                    +singleAdv(
                                        'swimming-pool',
                                        'Outdoor pool',
                                        20,
                                        20
                                    )
                                    +singleAdv(
                                        'location-pin',
                                        'Ближайший Торговый центр',
                                        21,
                                        21
                                    )
                                    +singleAdv(
                                        'farming2',
                                        'Ландшафтный сад',
                                        20,
                                        20
                                    )
                                    +singleAdv(
                                        'tray',
                                        'Рестораны',
                                        23,
                                        23
                                    )
                    .rent-single__location
                        .rent-single__location-title.font-tenor.section__title.text-c3 Местоположение
                        .rent-single__location-item#rent-single__map-item
                        .rent-single__location-desc
                            p 15 мин до аэропорта Название
                            p 10 мин до метро Название
                            p Достопримечательности рядом: Перечисление
                .rent-single__right.sticky
                    .rent-single__name.flex.flex-ai-center.rent-single__name_2
                        .rent-single__name-left.flex-shrink
                            .rent-single__name-img.img_cover
                                +picture('img/rent/single/main/name.jpg', 'img/rent/single/main/name', false, '', 136, 137, '', '')
                        .rent-single__name-right
                            .rent-single__name-title.text-c3 Имя Фамилия
                            .rent-single__name-subtitle Консультант по недвижимости
                            .rent-single__name-btns.flex.flex-ai-center
                                .rent-single__name-btn.p-btn.flex.flex-ai-center.flex-j-center.text-500 Оставить заявку
                                .rent-single__name-socials.flex.flex-ai-center
                                    a(href="#!").rent-single__name-social.flex.flex-ai-center.flex-j-center.bg-c3
                                        +picture('img/rent/single/main/call.png', 'img/rent/single/main/call', true, '', 16, 16, '', '')
                                    a(href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.").rent-single__name-social.flex.flex-ai-center.flex-j-center.bg-c3
                                        +picture('img/rent/single/main/whatsapp.png', 'img/rent/single/main/whatsapp', true, '', 16, 16, '', '')
                            .rent-single__name-link.text-500.text-underline Скачать презентацию
    .rent-dev
        .container.margin-center
            .rent-dev__title.section__title.font-tenor.text-c3 Застройщик
            .rent-dev__row.flex
                .rent-dev__left
                    .rent-dev__img.flex-shrink.img_cover.img_br
                        +picture('img/rent/single/dev/1.jpg', 'img/rent/single/dev/1', true, '', 284, 289, '', '')
                .rent-dev__right
                    .rent-dev__text
                        .rent-dev__desc Damac Properties — дубайская девелоперская компания, работающая на рынке элитной недвижимости с 2002 года. В ее портфеле жилые комплексы премиум-класса, офисные здания и 5-звёздочные отели в Арабских Эмиратах, Китае, Ливанской республике, Иордании и Великобритании.
                        .rent-dev__list.flex
                            .rent-dev__list-li
                                .rent-dev__list-num.text-c5.text-500 2001
                                .rent-dev__list-title год основания
                            .rent-dev__list-li
                                .rent-dev__list-num.text-c5.text-500 81 дом
                                .rent-dev__list-title сдан в 18 ЖК
                            .rent-dev__list-li
                                .rent-dev__list-num.text-c5.text-500 10 домов
                                .rent-dev__list-title 10 домов
                        a(href="/zastroischik.html").rent-dev__btn.p-btn.flex.flex-ai-center.flex-j-center.text-500 Подробнее о застройщике
    .rent-single__plan.rent-single__plan_second
        .container.margin-center
            .rent-single__plan-top.flex.flex-ai-center
                .rent-single__plan-title.section__title.text-c3.font-tenor План платежей
                .rent-single__plan-btn.text-c5.flex.flex-ai-center.flex-j-center Стоимость от 312.300.000 р
            .rent-single__plan-items.flex.flex-col.w-full
                .rent-single__plan-item.flex.flex-j-between.w-full.flex-ai-center
                    .rent-single__plan-left Первоначальный взнос
                    .rent-single__plan-center.text-c5 20%
                    .rent-single__plan-right 6.246.000 р
                .rent-single__plan-item.flex.flex-j-between.w-full.flex-ai-center
                    .rent-single__plan-left В течение строительства
                    .rent-single__plan-center.text-c5 60%
                    .rent-single__plan-right 187.380.000 р
                .rent-single__plan-item.flex.flex-j-between.w-full.flex-ai-center
                    .rent-single__plan-left После завершения строительства
                    .rent-single__plan-center.text-c5 20%
                    .rent-single__plan-right 6.246.000 р
    .help.help_second
        .container.margin-center
            .help__item.relative
                .help__text.relative
                    .help__title.text-500.text-c5 Получите консультацию от&nbsp;Профессионалов в сфере недвижимости
                    .p-list
                        ul
                            li Подберем комфортный вариант под бюджет и пожелания
                            li Проконсультируем по лучшим районам для жизни
                            li Организуем трансфер из аэропорта
                    form
                        .get__item-text.relative
                            .get__item-inputs.flex.flex-col
                                .get__item-input.form__input
                                    input(type="text" name="name" placeholder="Ваше имя" required)
                                .get__item-input.form__input
                                    input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                            .get__item-end
                                button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Подобрать квартиру
                                label.p-check.flex.flex-ai-center
                                    input(type="checkbox" name="check" checked)
                                    span.p-check__square.flex.flex-j-center.flex-ai-center.flex-shrink
                                        +picture('img/main/get/check.png', 'img/main/get/check', true, '', 13, 13, '', '')
                                    span.p-check__title Отправляя форму, вы даёте согласие на обработку персональных данных
                .help__img.absolute.bottom-0.right-0
                    +picture('img/rent/help/1.png', 'img/rent/help/1', true, '', 543, 571, '', '')
                    .help__name.absolute.text-c2
                        .help__name-svg.absolute
                            <svg width="216" height="69" viewBox="0 0 216 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.3457 0C3.47971 0 0.345703 3.134 0.345703 7V31.9733C0.345703 33.3831 0.523682 34.8837 0.381642 36.2863C0.357877 36.521 0.345703 36.7591 0.345703 37V62C0.345703 65.866 3.47971 69 7.3457 69H208.346C212.212 69 215.346 65.866 215.346 62V39C215.346 34.0294 211.316 30 206.346 30H197.346C189.061 30 182.346 23.2843 182.346 15V8C182.346 3.58172 178.764 0 174.346 0H7.3457Z" fill="#003B50"/>
                            </svg>
                        .help__name-text.relative
                            .help__name-title Владислав
                            .help__name-subtitle консультант по недвижимости
    .estate.overflow-hidden.offers
        .container.margin-center
            .section__title.font-tenor.text-c3 Другие проекты
            .estate__items.flex.flex-col
                .estate__item.relative.w-full
                    .estate__swiper.relative
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    +pCard2(
                                        'p-card_second',
                                        1,
                                        'Квартира 50 кв.м с видом на море',
                                        'Dubai Marina',
                                        'от 100.000 р за 50 кв.м',
                                        '/jk.html'
                                    )
                                .swiper-slide
                                    +pCard2(
                                        'p-card_second',
                                        1,
                                        'Квартира 50 кв.м с видом на море',
                                        'Dubai Marina',
                                        'от 100.000 р за 50 кв.м',
                                        '/jk.html'
                                    )
                                .swiper-slide
                                    +pCard2(
                                        'p-card_second',
                                        1,
                                        'Квартира 50 кв.м с видом на море',
                                        'Dubai Marina',
                                        'от 100.000 р за 50 кв.м',
                                        '/jk.html'
                                    )
                                .swiper-slide
                                    +pCard2(
                                        'p-card_second',
                                        1,
                                        'Квартира 50 кв.м с видом на море',
                                        'Dubai Marina',
                                        'от 100.000 р за 50 кв.м',
                                        '/jk.html'
                                    )
                                .swiper-slide
                                    +pCard2(
                                        'p-card_second',
                                        1,
                                        'Квартира 50 кв.м с видом на море',
                                        'Dubai Marina',
                                        'от 100.000 р за 50 кв.м',
                                        '/jk.html'
                                    )
                                .swiper-slide
                                    +pCard2(
                                        'p-card_second',
                                        1,
                                        'Квартира 50 кв.м с видом на море',
                                        'Dubai Marina',
                                        'от 100.000 р за 50 кв.м',
                                        '/jk.html'
                                    )
                                .swiper-slide
                                    a(href="/arenda.html").p-card.w-full.h-full.text-center.text-c2.bg-c3.p-card__abs.flex.flex-ai-center.flex-j-center
                                        .p-card__abs-link.margin-center Перейти в каталог Аренды
                        .main_swiper-arrows.flex.absolute
                            .swiper-button.swiper-button-prev.flex.flex-ai-center.flex-j-center
                                +picture('img/main/estate/arrow-left.png', 'img/main/estate/arrow-left', true, '', 18, 18, '', '')
                            .swiper-button.swiper-button-next.flex.flex-ai-center.flex-j-center
                                +picture('img/main/estate/arrow-right.png', 'img/main/estate/arrow-right', true, '', 18, 18, '', '')
    include ../../components/contacts