.p-lang_arabic
  .header
    &__list
      li
        direction: rtl
  .main__card-title, .main__card-subtitle, .main__card-link
    direction: rtl
    text-align: right
  .main__card
    &_3
      align-items: flex-end
  .main__card
    &_1
      .main__card-subtitle
        max-width: 126px
        margin-left: auto
    &_2
      .main__card-subtitle
        margin-left: auto
        margin-bottom: 25px
    &_3
      .main__card-subtitle
        max-width: 155px
  .why
    .section__title
      direction: rtl
  .why__tab:nth-child(1) .why__tab-subtitle
    max-width: 92px
    direction: rtl
  .why__tab:nth-child(2) .why__tab-subtitle
    max-width: 150px
    direction: rtl
  .why__desc, .why__end
    direction: rtl
  .estate .section__title
    direction: rtl
  .p-card__price, .service .section__title
    text-align: left
    direction: rtl
  .p-list
    ul
      padding-right: 20px
      padding-left: 0
  .p-list li::before
    left: auto
    right: -15px
  .type
    &__item
      &:nth-child(1),  &:nth-child(3)
        .type__desc, .type__link, .type__title, .type__list
          direction: rtl
          text-align: right
          margin-right: 0
          margin-left: auto
        .type__link
          display: block
          width: max-content
          margin-left: auto
          margin-right: 0
      &:nth-child(1)
        .type__list
          max-width: 215px
      &:nth-child(2)
        .type
          &__title
            margin-top: 20px
          &__desc
            max-width: 326px
            font-size: 18px
      &:nth-child(3)
        .type__desc
          max-width: 243px
        .type__title
          margin-bottom: 44px
  .buy__item-title, .buy__item-list, .buy__item-link, .buy__item-subtitle, .buy__item-desc
    direction: rtl
    margin-left: auto
    margin-right: 0
    text-align: right
  .principle .section__title, .principle__item-title, .principle__item-desc
    direction: rtl
  .buy__item
    &:nth-child(1)
      .buy__item-list
        max-width: 225px
    &:nth-child(2)
      .buy__item-desc
        max-width: 275px
    &:nth-child(3)
      .buy__item-desc
        max-width: 275px
    &:nth-child(4)
      .buy__item-desc
        max-width: 275px
    &:nth-child(6)
      .buy__item-desc
        max-width: 275px
  .principle__item
    width: 100%
    &-desc
      margin-left: auto
      margin-right: 0
      text-align: right
    &:nth-child(1)
      .principle__item-desc
        max-width: 385px
    &:nth-child(2)
      .principle__item-desc
        max-width: 410px
    &:nth-child(3)
      .principle__item-desc
        max-width: 428px
  .get
    .p-check
      justify-content: center
  .best__item-title, .best__item-subtitle, .blog__item-title, .blog__item-link, .criterion__subtitle
    direction: rtl
  .best__item-subtitle, .blog__item-link
    margin-left: auto
    margin-right: 0
  .blog__item-link
    display: block
    max-width: max-content
    margin-left: auto
  .team__text-item
    font-size: 20px
    &:nth-child(2), &:nth-child(3), &:nth-child(4)
      max-width: 468px
  .blog__item-title
    max-width: 305px
    margin-left: auto
  .criterion
    .p-check
      justify-content: center
  .rent__item-top
    direction: rtl
    right: 180px
  .rent__input_date
    button
      text-align: left
      padding-left: 55px
  .rent__item-end
    margin-right: 105px
  .p-card_filter__content-subitem, .p-card_filter__list-title, .p-card_filter__price-left, .p-card_filter__price-right, .p-card_filter__content-item
    direction: rtl
  .advs__item-text
    direction: rtl
    width: 100%
  .advs__item-desc
    margin-left: auto
  .advs__items
    > div
      &:nth-child(1)
        .advs__item-desc
          max-width: 329px
      &:nth-child(2)
        .advs__item-desc
          max-width: 436px
      &:nth-child(3)
        .advs__item-desc
          max-width: 424px
      &:nth-child(4)
        .advs__item-desc
          max-width: 415px
      &:nth-child(5)
        .advs__item-desc
          max-width: 373px
      &:nth-child(6)
        .advs__item-desc
          max-width: 373px
  .addit__el-subtitle
    max-width: 322px
  .type_second .section__title
    direction: rtl
  .type_second .p-list ul
    padding-left: 0
    padding-right: 20px
  .type_second .type__item:nth-child(2) .type__title
    margin-top: 0
  .type__item:nth-child(3)
    .type
      &__title
        margin-bottom: 25px
      &__title, &__desc, &__link
        text-align: center
        margin-right: auto
  .help
    &__text
      max-width: 380px
    .p-list
      text-align: right
      direction: rtl
  .help__name-title
    margin-bottom: 12px
  .help__name-text
    width: 130px
  .rent-single__day-left, .rent-single__day-right, .rent-single__right-date
    direction: rtl
  .rent-single__right-date
    flex-direction: row-reverse
  .rent-single__select-title, .rent-single__service-title
    direction: rtl
  .rent-single__service-title
    text-align: left
  .rent-single__service-row>.rent-single__service-item:nth-child(3)
    .rent-single__service-desc
      max-width: 288px
  .rent-single__faq-title
    margin-bottom: 153px
  .offers .section__title
    text-align: left
  .p-lang_arabic
    .rent_second .rent__item-top
      right: 115px
  .rent__price-left, .rent__price-right
    display: flex
    flex-direction: row-reverse
    gap: 5px
  .rent__price
    gap: 5px
  .estate_buy .section__title
    text-align: left
  .buy-form__item-desc
    direction: rtl
    text-align: left
  .buy-advs__circle-left, .buy-advs__circle-right
    top: 286px
  .buy-advs__circle-left
    left: -35px
  .buy-advs__circle-right
    right: -35px
  .buy-advs__item
    direction: rtl
  .buy-advs__item-title, .best .section__title
    margin-bottom: 40px
  .buy_second .section__title, .p-card__price, .p-card_filter__price-left, .p-card_filter__price-right
    direction: rtl
  .rent-single__day-left, .rent-single__day-right, .rent-single__edges-subtitle, .catalog-cons__end
    direction: rtl
  .estate .section__title
    text-align: left
  .articles__item-title
    max-width: 225px
    direction: rtl
    text-align: left
  .articles__item
    .articles__item-title
      max-width: 225px
  .telegram .section__title
    direction: rtl
  .article__item-title, .article__item-desc, .article__item-list
    direction: rtl
  .article__item-text
    max-width: 552px
    margin-left: auto
  .article__item
    width: 100%
  .rent-single__day-left, .rent-single__day-right
    text-align: left
  .rent-single__location-desc
    direction: rtl
  .rent-dev__list-title
    max-width: 165px
  .rent-single__dev-num, .rent-dev__list-title, .rent-single__dev-title
    direction: rtl
    text-align: left
  .rent-single__plan-top
    justify-content: space-between
  .rent-single__dev-title
    font-size: 25px
  .compar .section__title
    margin-right: 575px
  .compar__item-subtitle
    direction: rtl
    max-width: 234px
    margin-left: auto
  .compar__subitem-subtitle, .compar__subitem-title
    direction: rtl
    text-align: left
  .cabinet__price
    direction: rtl
  .cabinet__card-first input
    text-align: right
  .dadi__subtitle, .dadi__item-desc, .dadi__item-link, .dadi__item-title
    direction: rtl
  .dadi__item-link
    text-align: right
    margin-left: auto
    width: max-content
    display: block
  .dadi__item
    padding-right: 20px