.p-lang
  &_en
    .header
      &__list
        gap: 60px
    .main
      &__card
        &-subtitle
          max-width: 156px
          margin-bottom: 40px
        &_2
          .main__card-subtitle
            margin-bottom: 9px
        &_3
          .main__card-title
            margin-bottom: 7px
          .main__card-subtitle
            margin-bottom: 13px
    .why__tab:nth-child(1) .why__tab-subtitle
      max-width: 253px
    .why__content_1 .why__content-tab:nth-child(3) .why__content-text
      max-width: 250px
    .why__content_2 .why__content-tab:nth-child(2) .why__content-text
      max-width: 270px
    .why__desc-img
      width: 352px
    .why__desc-img_2
      width: 220px
      margin-left: 5px
    .service__item-text
      max-width: 470px
    .type__item:nth-child(2) .type__desc
      max-width: 305px
    .buy__item
      &:nth-child(1)
        .buy__item
          &-title
            max-width: 284px
          &-link
            max-width: 210px
            text-align: center
            margin-left: auto
            margin-right: auto
      &:nth-child(2)
        .buy__item
          &-list
            max-width: 290px
      &:nth-child(3)
        .buy__item
          &-desc
            max-width: 290px
    .principle__item
      &:nth-child(1)
        .principle__item-desc
          max-width: 440px
      &:nth-child(3)
        .principle__item-desc
          max-width: 440px
    .best__item-subtitle
      max-width: 240px
    .team
      .section__title
        margin-bottom: 29px
    .team__text-item:nth-child(1)
      max-width: 435px
    .team__text-item:nth-child(2), .team__text-item:nth-child(3), .team__text-item:nth-child(4)
      max-width: 390px