include ../mixins/picture
include ../mixins/main/whyContentTab
include ../mixins/main/principleItem
include ../mixins/main/singleAdv
include ../mixins/arenda/adv
include ../mixins/card
include ../mixins/p/checkbox