include ../mixins
footer.footer.text-c2
    .container.margin-center
        .footer__top.flex.flex-j-between
            .footer__top-left
                .footer__block.flex.flex-j-between
                    .footer__left
                        .footer__logo
                            +picture('img/footer/logo.png', 'img/footer/logo', true, '', 149, 84, '', '')
                        .footer__cabinet
                            .footer__cabinet-title Личный кабинет клиента
                            .p-btn.p-btn_white.flex.flex-ai-center.flex-j-center.text-500.modal__show(data-modal="register") Войти
                    .footer__right
                        .footer__list
                            ul.flex.flex-col
                                li
                                    a(href="/arenda.html") Аренда
                                li
                                    a(href="/buy.html") Покупка
                                li
                                    a(href="/blog.html") Блог
                                li
                                    a(href="/dadi.html") О DADI
            .footer__top-center.margin-center
                .footer__links.flex.flex-col
                    .footer__link
                        .footer__link-title Телефон:
                        a(href="tel:+97145859538").footer__link-subtitle +971 4 585 9538
                    .footer__link
                        .footer__link-title Время работы по Дубаю:
                        .footer__link-subtitle 9:00-21:00
                    .footer__link
                        .footer__link-title Офис
                        .footer__link-subtitle Al Gurg Tower 3, офис 3, этаж P Дубай, ОАЭ
            .footer__top-right
                form
                    .footer__form
                        .footer__form-title Задать вопрос
                        .footer__form-input.w-full
                            input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                        button(type="submit").p-btn.p-btn_white.flex.flex-ai-center.flex-j-center.text-500 Получить консультацию
                        label.p-check.flex.flex-ai-center
                            input(type="checkbox" name="check" checked)
                            span.p-check__square.flex.flex-j-center.flex-ai-center.flex-shrink
                                +picture('img/main/get/check-white.png', 'img/main/get/check-white', true, '', 15, 15, '', '')
                            span.p-check__title Отправляя форму, вы даёте согласие на&nbsp;обработку персональных данных
        .footer__bottom.flex.flex-j-between.flex-ai-end
            .footer__bottom-left
                a(href="#!").footer__web.uppercase.font-500.flex Разработка сайта
                .footer__copy.uppercase
                    span © 2023 All Right Reserved
                    span Копирование материалов без согласия автора запрещено
            .footer__bottom-center.margin-center
                .contacts__socials.flex
                    a(href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.").contacts__social.flex.flex-ai-center.flex-j-center
                        +picture('img/main/contacts/whatsapp.png', 'img/main/contacts/whatsapp', true, '', 18, 18, '', '')
                    a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                        +picture('img/main/contacts/telegram.png', 'img/main/contacts/telegram', true, '', 17, 17, '', '')
                    a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                        +picture('img/main/contacts/instagram.png', 'img/main/contacts/instagram', true, '', 16, 16, '', '')
                .contacts__socials.flex.contacts__socials_second
                    a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                        +picture('img/main/contacts/youtube.png', 'img/main/contacts/youtube', true, '', 21, 21, '', '')
                    a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                        +picture('img/main/contacts/vk.png', 'img/main/contacts/vk', true, '', 19, 19, '', '')
                    a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                        +picture('img/main/contacts/yandex.png', 'img/main/contacts/yandex', true, '', 16, 16, '', '')
                    a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                        +picture('img/main/contacts/facebook.png', 'img/main/contacts/facebook', true, '', 18, 18, '', '')
            .footer__bottom-right
                .footer__bottom-links.flex.flex-col
                    a(href="#!").footer__bottom-link Политика конфиденциальности
                    a(href="#!").footer__bottom-link Договор оферты
.modal.modal_type.modal_type-first
    .modal__content.relative.margin-center
        .modal__close.absolute
            +picture('img/modal/type/close.png', 'img/modal/type/close', true, '', 14, 14, '', '')
        .modal_type__content.relative
            .modal_type__img-left.absolute.bottom-0.left-0
                +picture('img/modal/type/left.png', 'img/modal/type/left', true, '', 603, 579, '', '')
            form.relative
                .get__item-text.relative
                    .get__item-title Консультация менеджера DADI
                    .get__item-subtitle Оставьте свои данные, <span class="text-c5">наш менеджер свяжется с вами в течение дня</span>
                    .get__item-inputs.flex
                        .get__item-input.form__input
                            input(type="text" name="name" placeholder="Ваше имя" required)
                        .get__item-input.form__input
                            input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                        .get__item-input.form__input
                            .p-select.relative
                                .p-select__current.flex.flex-ai-center.flex-j-between
                                    input(type="hidden" name="request" value="Позвонить мне")
                                    .p-select__current-item Позвонить мне
                                    .p-select__current-arrow
                                        +picture('img/main/get/arrow.png', 'img/main/get/arrow', true, '', 17, 17, '', '')
                                .p-select__abs.absolute.flex.flex-col
                                    .p-select__abs-item.active(data-value="Позвонить мне") Позвонить мне
                                    .p-select__abs-item(data-value="Написать мне") Написать мне
                                    .p-select__abs-item(data-value="Написать позже") Написать позже
                                    .p-select__abs-item(data-value="Позвонить позже") Позвонить позже
                    .get__item-end
                        button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Получить консультацию
                        label.p-check.flex.flex-ai-center
                            input(type="checkbox" name="check" checked)
                            span.p-check__square.flex.flex-j-center.flex-ai-center.flex-shrink
                                +picture('img/main/get/check.png', 'img/main/get/check', true, '', 13, 13, '', '')
                            span.p-check__title Отправляя форму, вы даёте согласие на обработку персональных данных
                    .modal__socials.flex.flex-wrap.flex-j-end
                        a(href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.").modal__socials-item.flex.flex-ai-center
                            .modal__socials-title Написать в <span class="text-underline">WhatsApp</span>
                            .modal__socials-svg
                                +picture('img/modal/type/what.png', 'img/modal/type/what', true, '', 18, 18, '', '')
                        a(href="#!").modal__socials-item.flex.flex-ai-center
                            .modal__socials-title +7 (999)-999-99-99
                            .modal__socials-svg
                                +picture('img/modal/type/call.png', 'img/modal/type/call', true, '', 21, 21, '', '')
                        a(href="#!").modal__socials-item.flex.flex-ai-center
                            .modal__socials-title Написать в <span class="text-underline">Telegram</span>
                            .modal__socials-svg
                                +picture('img/modal/type/tel.png', 'img/modal/type/tel', true, '', 17, 17, '', '')
.modal.modal_type.modal_type-second
    .modal__content.relative.margin-center
        .modal__close.absolute
            +picture('img/modal/type/close.png', 'img/modal/type/close', true, '', 14, 14, '', '')
        .modal_type__content.relative
            .catalog-cons__item.relative
                .catalog-cons__img-left.absolute.bottom-0.left-0.p-img
                    +picture('img/catalogs/cons/left2.png', 'img/catalogs/cons/left2', true, '', 574, 586, '', '')
                    +picture('img/catalogs/cons/left2_mb.png', 'img/catalogs/cons/left2_mb', true, '', 322, 267, '', '')
                form.relative
                    .catalog-cons__text.relative
                        .catalog-cons__title Консультация менеджера DADI
                        .catalog-cons__subtitle Оставьте свои данные, <span class="text-c5">наш агент свяжется с вами в течение дня</span>
                        .catalog-cons__inputs.flex
                            .form__input
                                input(type="text" name="name" placeholder="Ваше имя" required)
                            .form__input
                                input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                            .form__input
                                .p-select.relative
                                    .p-select__current.flex.flex-ai-center.flex-j-between
                                        input(type="hidden" name="request" value="Позвонить мне")
                                        .p-select__current-item Позвонить мне
                                        .p-select__current-arrow
                                            +picture('img/main/get/arrow.png', 'img/main/get/arrow', true, '', 17, 17, '', '')
                                    .p-select__abs.absolute.flex.flex-col
                                        .p-select__abs-item.active(data-value="Позвонить мне") Позвонить мне
                                        .p-select__abs-item(data-value="Написать мне") Написать мне
                                        .p-select__abs-item(data-value="Написать позже") Написать позже
                                        .p-select__abs-item(data-value="Позвонить позже") Позвонить позже
                        .get__item-end
                            button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Получить консультацию
                            label.p-check.flex.flex-ai-center
                                input(type="checkbox" name="check" checked)
                                span.p-check__square.flex.flex-j-center.flex-ai-center.flex-shrink
                                    +picture('img/main/get/check.png', 'img/main/get/check', true, '', 13, 13, '', '')
                                span.p-check__title Отправляя форму, вы даёте согласие на обработку персональных данных
                        .catalog-cons__end
                            span или напишите нам в
                            span
                                a(href="https://wa.me/971524476830?text=Hello! I’m interested in a real estate in Dubai.").catalog-cons__end-link.flex.flex-ai-center
                                    span.catalog-cons__end-svg.flex-shrink
                                        +picture('img/catalogs/cons/whatsapp.png', 'img/catalogs/cons/whatsapp', true, '', 18, 18, '', '')
                                    span.catalog-cons__end-title.text-c3.text-underline Whatsapp
                            span или
                            span
                                a(href="#!").catalog-cons__end-link.flex.flex-ai-center
                                    span.catalog-cons__end-svg.flex-shrink
                                        +picture('img/catalogs/cons/telegram.png', 'img/catalogs/cons/telegram', true, '', 17, 17, '', '')
                                    span.catalog-cons__end-title.text-c3.text-underline Telegram
.modal.modal_pdf
    .modal__content.relative.margin-center
        .modal__close.absolute
            +picture('img/modal/type/close.png', 'img/modal/type/close', true, '', 14, 14, '', '')
        .modal_type__content.relative
            form.relative
                .get__item-text.relative
                    .get__item-title Заполните форму, чтобы получить <span class="text-c5 text-500">полный каталог</span>
                    .get__item-inputs.flex
                        .get__item-input.form__input
                            input(type="text" name="name" placeholder="Ваше имя" required)
                        .get__item-input.form__input
                            input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                        .get__item-input.form__input
                            input(type="email" name="email" placeholder="Ваш Email" required)
                    .get__item-end
                        button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Отправить
                        label.p-check.flex.flex-ai-center
                            input(type="checkbox" name="check" checked)
                            span.p-check__square.flex.flex-j-center.flex-ai-center.flex-shrink
                                +picture('img/main/get/check.png', 'img/main/get/check', true, '', 13, 13, '', '')
                            span.p-check__title Отправляя форму, вы даёте согласие на обработку персональных данных
.modal.modal_register.modal_form
    .modal__content.relative.margin-center
        .modal__close.absolute
            +picture('img/modal/type/close.png', 'img/modal/type/close', true, '', 14, 14, '', '')
        .modal_register__content.relative
            .modal_register__title.text-center.text-c5 Регистрация
            form.relative
                .modal_register__inputs.flex.flex-col
                    .modal_register__inputs-item.active
                        .modal_register__input.form__input
                            .modal_register__input-subtitle.text-500 Страна/регион
                            .modal_register__input-title Россия (+7)
                        .modal_register__input.form__input
                            input(type="tel" name="tel" placeholder="Номер телефона" required)
                        .modal_register__input-text.text-center Мы отправим вам SMS для подтверждения номера телефона.
                    .modal_register__inputs-item
                        .modal_register__input.form__input
                            .modal_register__input-subtitle.text-500 Email
                            input(type="email" name="email" placeholder="Ваш Email" required)
                        .modal_register__input-text.text-center Мы отправим вам код для подтверждения почты.
                .modal_register__end
                    button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Продолжить
                    .modal_register__end-center.text-center.font-roboto или
                    .modal_register__changes
                        .modal_register__change.cursor-pointer.flex.flex-ai-center.active
                            .modal_register__change-svg
                                +picture('img/modal/form/mail.png', 'img/modal/form/mail', true, '', 19, 19, '', '')
                            .modal_register__change-title С помощью e-mail
                        .modal_register__change.cursor-pointer.flex.flex-ai-center
                            .modal_register__change-svg
                                +picture('img/modal/form/tel.png', 'img/modal/form/tel', true, '', 17, 17, '', '')
                            .modal_register__change-title С помощью номера телефона
                    .modal_register__acc.flex.flex-ai-center
                        .modal_register__acc-text У вас уже есть аккаунт?
                        .modal_register__acc-link.text-underline.text-500 Войти
.modal.modal_conf.modal_form
    .modal__content.relative.margin-center
        .modal__close.absolute
            +picture('img/modal/type/close.png', 'img/modal/type/close', true, '', 14, 14, '', '')
        .modal_conf__content.relative
            form.relative
                .modal_conf__items
                    .modal_conf__item.active
                        .modal_conf__title.modal_register__title.text-center.text-c5 Подтвердите номер
                        .modal_conf__item-title Введите код, высланный на номер +7 (9**) ***-**-**
                        .modal_conf__item-inputs.flex.flex-ai-center
                            input(type="text" name="code1").modal_conf__item-input
                            input(type="text" name="code2").modal_conf__item-input
                            input(type="text" name="code3").modal_conf__item-input
                            input(type="text" name="code4").modal_conf__item-input
                        .modal_conf__request.flex.flex-ai-center
                            .modal_conf__request-left Не получили код?
                            .modal_conf__request-right.text-underline.cursor-pointer Отправить ещё раз
                    .modal_conf__item
                        .modal_conf__title.modal_register__title.text-center.text-c5 Подтвердите почту
                        .modal_conf__item-title Введите код, высланный на адрес *******@gmail.com
                        .modal_conf__item-inputs.flex.flex-ai-center
                            input(type="text" name="code1").modal_conf__item-input
                            input(type="text" name="code2").modal_conf__item-input
                            input(type="text" name="code3").modal_conf__item-input
                            input(type="text" name="code4").modal_conf__item-input
                        .modal_conf__request.flex.flex-ai-center
                            .modal_conf__request-left Не получили код?
                            .modal_conf__request-right.text-underline.cursor-pointer Отправить ещё раз
                .modal_conf__end-link.text-underline.text-500.text-c3.cursor-pointer(data-index="2") Выбрать другой способ