script(src="js/libs/lazyload.min.js")
link(rel="stylesheet", href="css/parts/swiper.css")
link(rel="stylesheet", href="css/flatpickr.min.css")
link(rel="stylesheet", href="css/parts/nouislider.css")
link(rel="stylesheet", href="css/parts/main.css?time=65456449")
script.
    let lazyContent = new LazyLoad({
        use_native: true // <-- there you go
    });

    let lazyBackground = new LazyLoad({
        // DON'T PASS use_native: true HERE
    });