.advs
  padding-top: 26px
  padding-bottom: 67px
  .section
    &__title
      margin-bottom: 3px
      font-size: 60px
      z-index: 2
  &__subtitle
    z-index: 2
    font-size: 24px
    margin-bottom: 45px
  &__items
    gap: 125px
  .pin-spacer
    &:nth-child(1)
      .advs__item
        &::before
          display: none
  &__item
    z-index: 1
    &::before
      content: ''
      position: absolute
      will-change: backdrop-filter
      backdrop-filter: blur(31.5px)
      width: 100vw
      height: 751px
      left: 50%
      top: -95px
      transform: translateX(-50%)
      z-index: -1
      border-radius: 35px
      border: 1px solid #D1D0D0
      background: rgba(255, 255, 255, 0.61)
    &:nth-child(6)
      .advs__item
        &-title
          margin-bottom: 0
    &-icon
      width: 62px
      height: 62px
      border-radius: 100%
      top: 3px
      left: 14px
    &-img
      img
        height: 589px
      &-r
        img
          height: 93px
    &-text
      top: 413px
      left: 0
      max-width: 470px
    &-title
      font-size: 25px
      margin-bottom: 18px
    &-desc
      font-size: 20px
      gap: 30px