.advs
  padding-top: 26px
  padding-bottom: 67px
  .section
    &__title
      margin-bottom: 3px
      font-size: 60px
  &__subtitle
    font-size: 24px
    margin-bottom: 45px
  &__items
    gap: 40px
  &__item
    will-change: backdrop-filter
    backdrop-filter: blur(31.5px)
    &:nth-child(6)
      .advs__item
        &-title
          margin-bottom: 0
    &-icon
      width: 62px
      height: 62px
      border-radius: 100%
      top: 3px
      left: 14px
    &-img
      img
        height: 589px
      &-r
        img
          height: 93px
    &-text
      top: 413px
      left: 0
      max-width: 470px
    &-title
      font-size: 25px
      margin-bottom: 18px
    &-desc
      font-size: 20px
      gap: 30px