.filters
  &__top
    margin-bottom: 56px
    &-left
      gap: 38px
    &-right
      gap: 20px
  &__main
    gap: 16px
  &__sort
    gap: 11px
    margin-right: 14px
  &__content
    gap: 20px 45px
    .p-card
      width: calc(100% / 3 - 30px)
  &__currency
    .p-select
      width: 59px
      padding-bottom: 0
      border: 0