.filters
  padding-bottom: 76px
  &__top
    margin-bottom: 56px
    &-left
      gap: 38px
    &-right
      gap: 20px
  &__main
    gap: 16px
    &-title
      font-size: 22px
  &__sort
    margin-right: 14px
    .p-select
      padding-bottom: 0
      border: none
      &__current
        gap: 11.5px
        flex-direction: row-reverse
        &-item
          font-size: 20px
  &__content
    &-block
      gap: 20px 45px
    &-load
      font-size: 24px
      width: max-content
      padding-top: 20px
      cursor: pointer
    .p-card
      width: calc(100% / 3 - 30px)
  &__currency, &__m
    .p-select
      padding-bottom: 0
      border: 0
      &__current
        &-item
          font-size: 20px
  &__currency
    .p-select
      width: 59px
  &__m
    .p-select
      width: 81px
  &__coub
    &.active
      rect
        fill: var(--c5)
  &__map
    picture
      &:nth-child(2)
        display: none
    &.active
      picture
        &:nth-child(1)
          display: none
        &:nth-child(2)
          display: flex
  &__content, &__content-map
    display: none
    &.active
      display: block