.article-items__item.articles__item.articles__item_1.overflow-hidden.flex-shrink
    .articles__item-img.img_cover.img_br
        +picture('img/article/items/1.jpg', 'img/article/items/1', true, '', 333, 206, '', '')
    .articles__item-text.relative
        .articles__item-title.text-c3 Дубай: лучшие районы для жизни
        .articles__item-tags.absolute.top-0.right-0
            .articles__item-date 21.10.2023
            .articles__item-status обновлено
        .articles__item-desc Жизнь в дубае
        a(href="/article.html").articles__item-link.text-c3.text-underline Читать