.best__item.relative
    .best__item-link.absolute.top-0.right-0.text-c2.flex.flex-ai-center.flex-j-center.text-center.modal__show(data-modal="pdf") Скачать PDF
    .best__item-img.img_br.img_cover
        +picture('img/main/best/1.jpg', 'img/main/best/1', true, '', 281, 265, '', '')
    .best__item-title.text-c5.text-500 Название каталога
    .best__item-subtitle Короткое описание каталога или проекта, что внутри