.best.overflow-hidden
    .container.margin-center
        .section__title.font-tenor.text-c3 Каталоги лучшей недвижимости Дубая 2023-2024
        .best__swiper.relative
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        include bestItem
                    .swiper-slide
                        include bestItem
                    .swiper-slide
                        include bestItem
                    .swiper-slide
                        include bestItem
                    .swiper-slide
                        include bestItem
                    .swiper-slide
                        include bestItem
                    .swiper-slide
                        include bestItem
            .main_swiper-arrows.flex.absolute
                .swiper-button.swiper-button-prev.flex.flex-ai-center.flex-j-center
                    +picture('img/main/estate/arrow-left.png', 'img/main/estate/arrow-left', true, '', 18, 18, '', '')
                .swiper-button.swiper-button-next.flex.flex-ai-center.flex-j-center
                    +picture('img/main/estate/arrow-right.png', 'img/main/estate/arrow-right', true, '', 18, 18, '', '')