.blog
    .container.margin-center
        .section__title.font-tenor.text-c3 Блог о недвижимости и новостях Дубая
        .blog__block.relative
            a(href="/blog.html").blog__link.text-c5.absolute.top-0.right-0.text-underline.text-500 Перейти в Блог
            .blog__items.relative.flex
                .blog__item
                    .blog__item-img.img_cover.img_br
                        +picture('img/main/blog/1.jpg', 'img/main/blog/1', true, '', 343, 324, '', '')
                    .blog__item-title Где лучше жить: в чем отличие районов Дубая
                    a(href="/article.html").blog__item-link.text-c5.text-underline.text-500 Читать
                .blog__item
                    .blog__item-img.img_cover.img_br
                        +picture('img/main/blog/2.jpg', 'img/main/blog/2', true, '', 343, 324, '', '')
                    .blog__item-title Старт строительства комплекса “Название”
                    a(href="/article.html").blog__item-link.text-c5.text-underline.text-500 Читать
                .blog__item
                    .blog__item-img.img_cover.img_br
                        +picture('img/main/blog/1.jpg', 'img/main/blog/1', true, '', 343, 324, '', '')
                    .blog__item-title Где лучше жить: в чем отличие районов Дубая
                    a(href="/article.html").blog__item-link.text-c5.text-underline.text-500 Читать