.contacts.bg-c3.text-c2
    .container.margin-center
        .section__title.font-tenor Контакты
        .contacts__block.flex
            .contacts__left
                .contacts__items.flex.flex-col
                    .contacts__item
                        .contacts__item-title Отдел клиентского сервиса
                        a(href="tel:+97145859538 ").contacts__item-subtitle +971 4 585 9538
                    .contacts__item
                        .contacts__item-title Эл.почта
                        a(href="mailto:Info@dadiproperties.com").contacts__item-subtitle Info@dadiproperties.com
                    .contacts__item.contacts__item_socials
                        .contacts__socials.flex
                            a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                                +picture('img/main/contacts/whatsapp.png', 'img/main/contacts/whatsapp', true, '', 18, 18, '', '')
                            a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                                +picture('img/main/contacts/telegram.png', 'img/main/contacts/telegram', true, '', 17, 17, '', '')
                            a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                                +picture('img/main/contacts/instagram.png', 'img/main/contacts/instagram', true, '', 16, 16, '', '')
                        .contacts__socials.flex.contacts__socials_second
                            a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                                +picture('img/main/contacts/youtube.png', 'img/main/contacts/youtube', true, '', 21, 21, '', '')
                            a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                                +picture('img/main/contacts/vk.png', 'img/main/contacts/vk', true, '', 19, 19, '', '')
                            a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                                +picture('img/main/contacts/yandex.png', 'img/main/contacts/yandex', true, '', 16, 16, '', '')
                            a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                                +picture('img/main/contacts/facebook.png', 'img/main/contacts/facebook', true, '', 18, 18, '', '')
            .contacts__right
                .contacts__item
                    .contacts__item-title Офис
                    .contacts__item-subtitle Al Gurg Tower 3, офис 3, этаж P Дубай, ОАЭ
                    .contacts__item-iframe
                        iframe.lazy(width=697 height=252 src="" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10206.085294199549!2d55.31710806150708!3d25.257258873607665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5cd1a71d6b2d%3A0xef3b0742be39f2a5!2zQWwgR3VyZyB0b3dlciAzLDEydGggZmxvb3IgLFZGUyBHbG9iYWwgLSA3IEJhbml5YXMgUmQgLSBEZWlyYSAtIEZsb29yIDUgLSBEdWJhaSAtINCe0LHRitC10LTQuNC90LXQvdC90YvQtSDQkNGA0LDQsdGB0LrQuNC1INCt0LzQuNGA0LDRgtGL!5e0!3m2!1sru!2sru!4v1703080678395!5m2!1sru!2sru" loading="lazy")
        .contacts__item.contacts__item_socials.contacts__item_hidden
            .contacts__socials.flex
                a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                    +picture('img/main/contacts/whatsapp.png', 'img/main/contacts/whatsapp', true, '', 18, 18, '', '')
                a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                    +picture('img/main/contacts/telegram.png', 'img/main/contacts/telegram', true, '', 17, 17, '', '')
                a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                    +picture('img/main/contacts/instagram.png', 'img/main/contacts/instagram', true, '', 16, 16, '', '')
            .contacts__socials.flex.contacts__socials_second
                a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                    +picture('img/main/contacts/youtube.png', 'img/main/contacts/youtube', true, '', 21, 21, '', '')
                a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                    +picture('img/main/contacts/vk.png', 'img/main/contacts/vk', true, '', 19, 19, '', '')
                a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                    +picture('img/main/contacts/yandex.png', 'img/main/contacts/yandex', true, '', 16, 16, '', '')
                a(href="#!").contacts__social.flex.flex-ai-center.flex-j-center
                    +picture('img/main/contacts/facebook.png', 'img/main/contacts/facebook', true, '', 18, 18, '', '')