.criterion
    .container.margin-center
        .criterion__item.relative.flex.flex-col.overflow-hidden
            .criterion__item-bg.absolute.bottom-0.left-0.p-img
                +picture('img/main/criterion/bg.png', 'img/main/criterion/bg', true, '', 1160, 432, '', '')
                +picture('img/main/criterion/bg_mb.png', 'img/main/criterion/bg_mb', true, '', 322, 230, '', '')
            .criterion__title.text-center Лучшая недвижимость по вашим критериям
            .criterion__subtitle.text-center Оставьте заявку на <span class="text-c5">бесплатную консультацию </span>
            form
                .criterion__form
                    .criterion__form-inputs.flex
                        .criterion__form-input.form__input
                            input(type="text" name="name" placeholder="Ваше имя" required)
                        .criterion__form-input.form__input
                            input(type="tel" name="tel" placeholder="8 999 999 99 99" required)
                        .criterion__form-input.form__input
                            .p-select.relative
                                .p-select__current.flex.flex-ai-center.flex-j-between
                                    input(type="hidden" name="request" value="Позвонить мне")
                                    .p-select__current-item Позвонить мне
                                    .p-select__current-arrow
                                        +picture('img/main/get/arrow.png', 'img/main/get/arrow', true, '', 17, 17, '', '')
                                .p-select__abs.absolute.flex.flex-col
                                    .p-select__abs-item.active(data-value="Позвонить мне") Позвонить мне
                                    .p-select__abs-item(data-value="2 гостя") 2 гостя
                                    .p-select__abs-item(data-value="3 гостя") 3 гостя
                                    .p-select__abs-item(data-value="Более 3 гостей") Более 3 гостей
                    .criterion__form-end
                        button(type="submit").p-btn.flex.flex-ai-center.flex-j-center.text-500 Получить консультацию
                        label.p-check.flex.flex-ai-center
                            input(type="checkbox" name="check" checked)
                            span.p-check__square.flex.flex-j-center.flex-ai-center.flex-shrink
                                +picture('img/main/get/check.png', 'img/main/get/check', true, '', 13, 13, '', '')
                            span.p-check__title Отправляя форму, вы даёте согласие на обработку персональных данных