.p-card.p-card_filter.relative
    .p-card_filter__image.relative
        a(href="/buy-single.html").img_cover.img_full
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        +picture('img/rent/filters/1.jpg', 'img/rent/filters/1', true, '', 356, 218)
                    .swiper-slide
                        +picture('img/rent/filters/1.jpg', 'img/rent/filters/1', true, '', 356, 218)
                    .swiper-slide
                        +picture('img/rent/filters/1.jpg', 'img/rent/filters/1', true, '', 356, 218)
            .swiper-pagination
        .p-card_filter__like.absolute.top-0.right-0
            <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.31877 0.793689H17.9837C18.2609 0.793689 18.3818 0.986484 18.3818 1.10765V21.9116C18.3818 22.1426 18.1064 22.2627 17.9371 22.1054L10.912 15.5763C10.2012 14.9157 9.1012 14.9157 8.39048 15.5763L1.36531 22.1054C1.19606 22.2627 0.920642 22.1426 0.920642 21.9116V1.10765C0.920642 0.98861 1.04435 0.793689 1.31877 0.793689Z" stroke="#003B50" stroke-width="1.58738"/>
            </svg>
    a(href="/buy-single.html").p-card_filter__text
        .p-card_filter__title.text-c5.text-500 Квартира 50 кв.м с видом на море
        .p-card_filter__content.flex.flex-wrap.flex-ai-center
            .p-card_filter__content-item.text-c5 Дубай Марина
            .p-card_filter__content-item Дубай Марина
            .p-card_filter__content-subitem Лот 123456789
        .p-card_filter__list.flex.flex-wrap
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card_filter__list-img
                    +picture('img/rent/filters/bed.png', 'img/rent/filters/bed', true, '', 19, 19)
                .p-card_filter__list-title 2 комнаты
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card_filter__list-img
                    +picture('img/rent/filters/area.png', 'img/rent/filters/area', true, '', 18, 18)
                .p-card_filter__list-title 50м2
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card_filter__list-img
                    +picture('img/rent/filters/element.png', 'img/rent/filters/element', true, '', 18, 18)
                .p-card_filter__list-title Высокий этаж
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card__second__list-img
                    +picture('img/rent/filters/bath.png', 'img/rent/filters/bath', true, '', 19, 19)
                .p-card_filter__list-title 1 ванна
        .p-card_filter__price.flex.flex-wrap.flex-j-between.flex-ai-end
            .p-card_filter__price-left 100.000 р в месяц
            .p-card_filter__price-right или 4.500 в сутки