.p-card.p-card_filter.relative
    .p-card_filter__image.relative
        a(href="/arenda-single.html").img_cover.img_full
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        +picture('img/rent/filters/1.jpg', 'img/rent/filters/1', true, '', 356, 218)
                    .swiper-slide
                        +picture('img/rent/filters/1.jpg', 'img/rent/filters/1', true, '', 356, 218)
                    .swiper-slide
                        +picture('img/rent/filters/1.jpg', 'img/rent/filters/1', true, '', 356, 218)
            .swiper-pagination
        .p-card_filter__delete.absolute.top-0.right-0
            +picture('img/fav/close.png', 'img/fav/close', true, '', 16, 16)
    a(href="/arenda-single.html").p-card_filter__text
        .p-card_filter__title.text-c5.text-500 Квартира 50 кв.м с видом на море
        .p-card_filter__content.flex.flex-wrap.flex-ai-center
            .p-card_filter__content-item.text-c5 Дубай Марина
            .p-card_filter__content-item Дубай Марина
            .p-card_filter__content-subitem Лот 123456789
        .p-card_filter__list.flex.flex-wrap
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card_filter__list-img
                    +picture('img/rent/filters/bed.png', 'img/rent/filters/bed', true, '', 19, 19)
                .p-card_filter__list-title 2 комнаты
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card_filter__list-img
                    +picture('img/rent/filters/area.png', 'img/rent/filters/area', true, '', 18, 18)
                .p-card_filter__list-title 50м2
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card_filter__list-img
                    +picture('img/rent/filters/element.png', 'img/rent/filters/element', true, '', 18, 18)
                .p-card_filter__list-title Высокий этаж
            .p-card_filter__list-item.flex.flex-ai-center
                .p-card_filter__list-img
                    +picture('img/rent/filters/bath.png', 'img/rent/filters/bath', true, '', 19, 19)
                .p-card_filter__list-title 1 ванна
        .p-card_filter__price.flex.flex-wrap.flex-j-between.flex-ai-end
            .p-card_filter__price-left 100.000 р в месяц
            .p-card_filter__price-right или 4.500 в сутки