.p-pagination.flex.flex-j-center
    .p-pagination__item.p-pagination__item_arrow.p-pagination__item_prev
        +picture('img/pagination/down-arrow.png', 'img/pagination/down-arrow', true, '', 13, 13, '', '')
    .p-pagination__item.active 1
    .p-pagination__item 2
    .p-pagination__item 3
    .p-pagination__item 4
    .p-pagination__item 5
    .p-pagination__item.p-pagination__item_arrow.p-pagination__item_next
        +picture('img/pagination/down-arrow.png', 'img/pagination/down-arrow', true, '', 13, 13, '', '')