.reviews__item.bg-c5.text-c2
    .reviews__top.flex
        .reviews__top-left
            .reviews__top-img.img_cover
                +picture('img/main/reviews/1.jpg', 'img/main/reviews/1', true, '', 110, 110, '', '')
        .reviews__top-right
            .reviews__top-stars.flex
                include star-full
                include star-full
                include star-full
                include star-full
                include star-full
            .reviews__top-title.text-500 Анна
            a(href="#!").reviews__top-subtitle.text-500 @annamol
    .reviews__item-desc Спасибо большое за Ваши старания, доставка пришла очень быстро, все размер в размер, спасибо большое за уделённое время и такой подход, вернусь к вам ещё раз обязательно!
