<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
| <path d="M7.49996 0L9.1838 5.18234H14.6328L10.2245 8.38521L11.9083 13.5676L7.49996 10.3647L3.09159 13.5676L4.77544 8.38521L0.367074 5.18234H5.81611L7.49996 0Z" fill="#EBE9E7"/>
| </svg>
|