extends ../layout/layout.pug
block vars
    - var title = 'Аренда недвижимости в Дубае';
block styles
    include ../includes/styles/styles.pug
block header 
    include ../includes/header/header.pug
block content
    include ../includes/content/arenda
block footer
    include ../includes/footer/footer.pug
block scripts
    include ../includes/scripts/scripts-arenda.pug