extends ../layout/layout.pug
block vars
	- var title = 'Квартира 50 кв.м в Название ЖК ';
block styles
	include ../includes/styles/styles.pug
block header 
	include ../includes/header/header.pug
block content
	include ../includes/content/buy-single.pug
block footer
	include ../includes/footer/footer.pug
block scripts
	include ../includes/scripts/scripts-arenda.pug