extends ../layout/layout.pug
block vars
	- var title = 'O DADI';
block styles
	include ../includes/styles/styles.pug
block header 
	include ../includes/header/header.pug
block content
	include ../includes/content/dadi.pug
block footer
	include ../includes/footer/footer.pug
block scripts
	include ../includes/scripts/scripts-main.pug