script(src="js/libs/swiper-bundle.js")
script(src="js/flatpickr.js")
script(src="js/libs/nouislider.min.js")
script(src="js/libs/ScrollTrigger.min.js")
script(src="js/libs/gsap.min.js")
script(src="js/libs/main.js?time=567969")