@media screen and (max-width: 1160px)
  .catalogs
    &__item
      &-title
        font-size: 45px
  .catalog
    &-cons
      &__img
        &-left
          bottom: -31px
          img
            width: 591px
      .modal
        &__socials
          &-item
            justify-content: flex-start
      &_second
        padding-bottom: 0
        .catalog
          &-cons
            &__img
              &-left
                img
                  width: 374px
                  border-bottom-right-radius: 14px
            &__item
              padding-bottom: 273px
            &__title
              font-size: 19px
            &__inputs
              margin-bottom: 20px
            &__end
              text-align: left
              font-size: 14px
              max-width: 240px
              margin-left: auto
@media screen and (max-width: 768px)
  .estate
    &_fav
      padding-top: 55px
      .section
        &__title
          font-size: 30px
          margin-bottom: 15px
      .estate
        &__items
          display: none
      &__tabs
        display: flex
      &__items
        display: block
  .catalogs
    padding-top: 67px
    padding-bottom: 48px
    &__item
      padding: 45px 8px 0
      height: 462px
      overflow: hidden
      &-img
        left: -90px
        transform: none
        bottom: -115px
      &-subtitle
        font-size: 14px
        margin-bottom: 8px
      &-title
        font-size: 25px
    &_estate
      padding-bottom: 0
      .main_swiper-arrows
        top: -60px
      .swiper
        &-slide
          width: 247px
  .catalog
    &-cons
      &__title, &__subtitle
        text-align: left
      &__title
        font-size: 16px
        margin-bottom: 9px
      &__subtitle
        font-size: 14px
        margin-bottom: 31px
        max-width: 231px
      &__inputs
        flex-wrap: wrap
        gap: 29px
        width: 100%
        .form
          &__input
            width: 100%
      .modal
        &__socials
          &-item
            justify-content: flex-end
      .p-check
        margin-bottom: 24px
      &__item
        padding: 36px 19px 186px
      &__img
        &-left
          left: 0
          width: 100%
          img
            width: 100%
      &_second
        .catalog
          &-cons
            &__end
              margin-left: 0
  .devs
    padding-bottom: 0
    .section
      &__title
        text-align: left
    &__items
      gap: 12px
    &__item
      gap: 8px
      img
        height: 89px
        border-radius: 6.345px
        width: auto