@media screen and (max-width: 1160px)
  .blog
    padding-top: 0
  .dadi
    overflow: hidden
    &__row
      gap: 0
    &__subtitle
      border-radius: 14px
      background: var(--c2)
      padding: 10px 15px
    &__title
      left: 172px
  .addit
    &__els
      flex-wrap: wrap
      gap: 55px
    &__el
      width: 100%
  .help
    &__item
      padding: 38px 28px 290px
    &__img
      img
        width: 343px
  .articles
    &__row
      &-item
        display: flex
        gap: 10px
        flex-wrap: wrap
        justify-content: center
    &__item
      width: 320px
      &_5, &_6
        flex-wrap: wrap
        gap: 25px
        padding-left: 14px
        .articles
          &__item
            &-img
              width: 100%
              img
                border-radius: 14px
      &_6
        flex-direction: column-reverse
  .telegram
    &__btns
      flex-direction: column
      padding: 0
      gap: 20px
    &__item
      height: 641px
  .article
    &__item
      flex-direction: column-reverse
      &-img
        display: none
        margin-bottom: 12px
      &-text
        .article
          &__item
            &-img
              display: flex
    &-items
      .swiper
        &-slide
          width: 320px
  .rent
    &__form
      max-width: 100%
    &__item
      padding-left: 21px
      padding-right: 21px
    &__input
      &:nth-child(n)
        width: calc(100% / 4 )
      input
        font-size: 16px
      .p
        &-select
          &__current
            &-item
              font-size: 16px
      button
        font-size: 16px
  .filters
    &__content
      &-block
        justify-content: center
      .p-card
        width: 353px
      &-load
        display: none
  .advs
    &__item
      &-text
        background: var(--c2)
        border-radius: 14px
        padding: 10px
        top: 400px
  .type
    &_second
      .type
        &__item
          &:nth-child(2)
            img
              height: 135px
              width: 294px
          &-left
            picture
              display: flex
              justify-content: center
  .modal
    &_filter
      padding-left: 0
      padding-right: 0
@media screen and (max-width: 768px)
  .main
    &_blog
      padding-bottom: 30px
      .main
        &__item
          height: 386px
          border-radius: 14px
          padding-bottom: 47px
          &-title
            font-size: 50px
          &-subtitle
            font-size: 16px
  .dadi
    padding-top: 72px
    padding-bottom: 54px
    .container
      padding-left: 0
      padding-right: 0
      max-width: 100%
    &__img
      &-left, &-right
        position: absolute
      &-left
        left: -110px
        top: -14px
        img
          width: 254px
          height: 250px
          border-radius: 15px
      &-right
        top: 140px
        right: -69px
        img
          height: 97px
          width: 160px
          border-radius: 9px
    &__items
      position: relative
      inset: auto
      flex-direction: column
    &__title
      width: max-content
      left: 65px
      top: 0px
    &__row
      padding-top: 270px
    &__subtitle
      background: transparent
      padding: 0
      max-width: 174px
      font-size: 13px
      width: 100%
      top: 90px
      right: -5px
    &__item
      &:nth-child(n)
        padding: 23px 18px 23px 30px
        width: 100vw
      &:not(:last-child)
        border-right: 0
        border-bottom: 0.5px solid #777
      &-title
        font-size: 20px
        margin-bottom: 5px
      &-desc
        font-size: 14px
      &-link
        font-size: 16px
  .principle
    overflow: hidden
  .help
    padding-top: 43px
    padding-bottom: 72px
    &_rent
      .help
        &__name
          &-svg
            margin-left: 0
          &-subtitle
            max-width: 90px
    &__title
      font-size: 19px
      margin-bottom: 10px
    &__img
      right: 20px
      img
        width: 259px
    &__name
      padding: 2px 7px
      width: 102px
      right: -13px
      bottom: 74px
      &-title
        margin-bottom: 0
        font-size: 10px
      &-subtitle
        font-size: 8px
        max-width: 60px
    .p-list
      font-size: 13px
      margin-bottom: 32px
    .get
      &__item
        &-text
          margin-top: 0
        &-inputs
          gap: 29px
        &-input
          input
            font-size: 14px
  .get
    &__item
      &-end
        .p-btn
          font-size: 13px
  .articles
    &__pagination
      display: block
    &__load
      display: none
    &__item
      padding: 10px 14px 17px
      min-height: 384px
      .articles
        &__item
          &-title
            font-size: 19px
            max-width: 220px
          &-img
            img
              height: 171px
              border-radius: 14px
      &-date
        font-size: 12px
        padding: 2px 13px
      &-title
        font-size: 19px
        min-height: auto
        height: auto
      &_1
        .articles
          &__item
            &-title
              max-width: 200px
      &_5
        .articles
          &__item
            &-title
              max-width: 200px
            &-desc
              margin-bottom: 25px
      &-desc
        font-size: 15px
        margin-bottom: 29px
  .telegram
    padding-top: 60px
    padding-bottom: 10px
    overflow: hidden
    &__item
      padding: 37px 13px
      height: 484px
    &__subtitle
      font-size: 15px
      margin-bottom: 2px
    .section
      &__title
        font-size: 27px
        margin-bottom: 20px
    &__btns
      gap: 7px
      &-link
        font-size: 14px
      .p-btn
        font-size: 13px
        width: 258px
        height: 41px
    &__img
      width: max-content
      transform: translateX(-50%)
      left: 50%
      bottom: 0
      img
        width: 600px
  .article
    padding-top: 45px
    &__title
      font-size: 25px
      margin-bottom: 18px
      padding-left: 0
    &__img
      margin-bottom: 30px
      &-link
        gap: 13px
        padding: 0 4px 4px
      &-svg
        svg
          width: 13px
      &-title
        font-size: 16px
      &-main
        img
          object-fit: fill
          height: 412px
    &__items
      gap: 25px
    &__item
      &-title
        font-size: 25px
        margin-bottom: 12px
      &-img
        img
          height: 197px
      &-desc, &-list
        font-size: 15px
      &-list
        margin-top: 20px
      &-li
        display: block
        span
          margin-right: 0
    &-items
      padding-top: 60px
      &__top
        margin-bottom: 22px
        .section
          &__title
            font-size: 30px
      &__link
        right: auto
        left: 50%
        transform: translateX(-50%)
        top: 470px
        font-size: 18px
      &__item
        min-height: auto
        .articles
          &__item
            &-img
              margin-bottom: 22px
              img
                height: 163px
            &-title
              margin-bottom: 22px
            &-desc
              margin-bottom: 25px
  .type
    &_second
      padding-bottom: 0
      &:nth-child(n)
        .type
          &__desc, &__title, &__link
            margin-left: 0!important
      .type
        &__item
          &-right, &-left
            width: 100%
  .appartments
    padding-bottom: 30px
  .rent
    padding-top: 56px
    padding-bottom: 56px
    &__subtitle
      font-size: 16px
    &__title
      font-size: 28px
      margin-bottom: 6px
    &__item
      padding: 136px 28px 97px
      &-top
        text-align: right
        font-size: 14px
        max-width: 149px
        right: 6px
        top: -19.5px
      &-bg
        img
          height: 478px
      &-end
        margin-right: auto
        margin-left: auto
        text-align: center
        font-size: 14px
        color: var(--c2)
    &__form
      gap: 10px
      flex-wrap: wrap
      height: auto
      background: transparent
    &__input
      &:nth-child(n)
        width: 100%
        border-radius: 100px
        background: var(--c2)
      &:nth-child(1), &:nth-child(2)
        padding: 14px 31px 14px 24px
      input
        border-right: none
      &-svg
        svg
          width: 15px
          height: 16px
      &:nth-child(4)
        padding: 0
      &_select
        padding: 14px 0
        .p-select
          &__current
            padding-left: 24px
            padding-right: 31px
          &__abs
            top: calc(100% + 13px)
      &_date
        button
          width: 100%
          height: 100%
          border-radius: 100px
          padding-top: 13px
          padding-bottom: 15px
  .filters
    padding-bottom: 60px
    &__pagination
      display: block
    &__content
      .p-card
        &_filter
          width: 100%
    &__top
      margin-bottom: 18px
      gap: 0
      &-left, &-right
        border-radius: 9px
        background: #F5F7F9
        gap: 0
    &__main
      &-svg
        flex-shrink: 0
        padding: 13px 8px 13px 14px
        border-right: 0.5px solid #CBCBCB
        svg
          width: 21px
          height: 14px
      &-title
        display: none
    &__currency, &__sort
      padding: 11px 10px 12px 7px
      .p-select
        &__current
          gap: 3px
          &-item
            font-size: 12px
    &__currency
      .p-select
        width: 41px
    &__sort
      margin-right: 0
    &__coub
      padding-left: 15px
      padding-right: 10px
      position: relative
      &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        width: 1px
        height: 41px
        background: #CBCBCB
      svg
        width: 15px
        height: 15px
    &__map
      padding-left: 7px
      padding-right: 11px
      img
        width: 22px
  .advs
    .section
      &__title
        font-size: 30px
    &__subtitle
      font-size: 13px
      margin-bottom: 22px
    &__item
      &-text
        top: 160px
      &-img
        img
          height: 270px
      &-title
        font-size: 18px
        margin-bottom: 6px
      &-desc
        font-size: 12px
  .addit
    padding-top: 9px
    padding-bottom: 32px
    &__item
      padding: 21px 17px 35px
      margin: 0 -10px
      border-radius: 0
      &-title
        font-size: 20px
        margin-bottom: 16px
    &__els
      gap: 26px
    &__el
      gap: 14px
      &-img
        width: 72px
        img
          height: 93px
          border-radius: 9px
      &-text
        width: calc(100% - 14px - 72px)
      &-title
        font-size: 15px
        margin-bottom: 10px
      &-subtitle
        font-size: 12px
  .appartments
    padding-bottom: 19px
    .why
      &__desc
        margin-top: 0
        font-size: 16px
        margin-bottom: 22px
        &-img
          height: 14px
          width: 87px
          &_2
            display: none!important
          &_3
            width: 102px
        span
          display: inline-block
    &__row
      gap: 10px
      margin-bottom: 22px
    &__item
      img
        width: 129px
        height: 132px
        border-radius: 9px
    &__end
      flex-direction: column
      gap: 10px
      .p-btn
        font-size: 13px
        height: 41px
    &__link
      font-size: 13px
