@media screen and (max-width: 1160px)
  .blog
    padding-top: 0
  .dadi
    overflow: hidden
    &__row
      gap: 0
    &__subtitle
      border-radius: 14px
      background: var(--c2)
      padding: 10px 15px
    &__title
      left: 172px
  .help
    &_second
      .help
        &__item
          padding: 38px 28px 290px
        &__img
          img
            width: 343px
  .articles
    &__row
      &-item
        display: flex
        gap: 10px
        flex-wrap: wrap
        justify-content: center
    &__item
      width: 320px
      &_5, &_6
        flex-wrap: wrap
        gap: 25px
        padding-left: 14px
        .articles
          &__item
            &-img
              width: 100%
              img
                border-radius: 14px
      &_6
        flex-direction: column-reverse
  .telegram
    &__btns
      flex-direction: column
      padding: 0
      gap: 20px
    &__item
      height: 641px
  .article
    &__item
      flex-direction: column-reverse
      &-img
        display: none
        margin-bottom: 12px
      &-text
        .article
          &__item
            &-img
              display: flex
    &-items
      .swiper
        &-slide
          width: 320px
@media screen and (max-width: 768px)
  .main
    &_blog
      padding-bottom: 30px
      .main
        &__item
          height: 386px
          border-radius: 14px
          padding-bottom: 47px
          &-title
            font-size: 50px
          &-subtitle
            font-size: 16px
  .dadi
    padding-top: 72px
    padding-bottom: 54px
    .container
      padding-left: 0
      padding-right: 0
      max-width: 100%
    &__img
      &-left, &-right
        position: absolute
      &-left
        left: -110px
        top: -14px
        img
          width: 254px
          height: 250px
          border-radius: 15px
      &-right
        top: 140px
        right: -69px
        img
          height: 97px
          width: 160px
          border-radius: 9px
    &__items
      position: relative
      inset: auto
      flex-direction: column
    &__title
      width: max-content
      left: 65px
      top: 0px
    &__row
      padding-top: 270px
    &__subtitle
      background: transparent
      padding: 0
      max-width: 174px
      font-size: 13px
      width: 100%
      top: 90px
      right: -5px
    &__item
      &:nth-child(n)
        padding: 23px 18px 23px 30px
        width: 100vw
      &:not(:last-child)
        border-right: 0
        border-bottom: 0.5px solid #777
      &-title
        font-size: 20px
        margin-bottom: 5px
      &-desc
        font-size: 14px
      &-link
        font-size: 16px
  .principle
    overflow: hidden
  .help
    &_second
      padding-top: 43px
      padding-bottom: 72px
      .help
        &__title
          font-size: 19px
          margin-bottom: 10px
        &__img
          right: 20px
          img
            width: 259px
        &__name
          padding: 2px 7px
          width: 102px
          right: -13px
          bottom: 74px
          &-title
            margin-bottom: 0
            font-size: 10px
          &-subtitle
            font-size: 8px
            max-width: 60px
      .p-list
        font-size: 13px
        margin-bottom: 32px
    .get
      &__item
        &-text
          margin-top: 0
        &-inputs
          gap: 29px
        &-input
          input
            font-size: 14px
  .get
    &__item
      &-end
        .p-btn
          font-size: 13px
  .articles
    &__load
      display: none
    &__item
      padding: 10px 14px 17px
      min-height: 384px
      .articles
        &__item
          &-img
            img
              height: 171px
              border-radius: 14px
      &-date
        font-size: 12px
        padding: 2px 13px
      &-title
        font-size: 19px
        min-height: auto
        height: auto
      &_1
        .articles
          &__item
            &-title
              max-width: 200px
      &_5
        .articles
          &__item
            &-desc
              margin-bottom: 25px
      &-desc
        font-size: 15px
        margin-bottom: 29px
  .telegram
    padding-top: 60px
    padding-bottom: 10px
    overflow: hidden
    &__item
      padding: 37px 13px
      height: 484px
    &__subtitle
      font-size: 15px
      margin-bottom: 2px
    .section
      &__title
        font-size: 27px
        margin-bottom: 20px
    &__btns
      gap: 7px
      &-link
        font-size: 14px
      .p-btn
        font-size: 13px
        width: 258px
        height: 41px
    &__img
      width: max-content
      transform: translateX(-50%)
      left: 50%
      bottom: 0
      img
        width: 600px
  .article
    padding-top: 45px
    &__title
      font-size: 25px
      margin-bottom: 18px
      padding-left: 0
    &__img
      margin-bottom: 30px
      &-link
        gap: 13px
        padding: 0 4px 4px
      &-svg
        svg
          width: 13px
      &-title
        font-size: 16px
      &-main
        img
          object-fit: fill
          height: 412px
    &__items
      gap: 25px
    &__item
      &-title
        font-size: 25px
        margin-bottom: 12px
      &-img
        img
          height: 197px
      &-desc, &-list
        font-size: 15px
      &-list
        margin-top: 20px
      &-li
        display: block
        span
          margin-right: 0
    &-items
      padding-top: 60px
      &__top
        margin-bottom: 22px
        .section
          &__title
            font-size: 30px
      &__link
        right: auto
        left: 50%
        transform: translateX(-50%)
        top: 470px
        font-size: 18px
      &__item
        min-height: auto
        .articles
          &__item
            &-img
              margin-bottom: 22px
              img
                height: 163px
            &-title
              margin-bottom: 22px
            &-desc
              margin-bottom: 25px