mixin adv(icon, width, height, img, img2, title, desc)
    .advs__item.relative
        .advs__item-icon.absolute.top-0.left-0.bg-c5.flex.flex-ai-center.flex-j-center
            +picture('img/rent/advs/' + icon + '.png', 'img/rent/advs/' + icon, true, '', width, height, '', '')
        .advs__item-img.relative.img_cover
            +picture('img/rent/advs/' + img + '.png', 'img/rent/advs/' + img, true, '', 1162, 589, '', '')
        .advs__item-img-r.absolute.bottom-0.right-0.img_br.img_cover
            +picture('img/rent/advs/' + img2 + '.png', 'img/rent/advs/' + img2, true, '', 242, 93, '', '')
        .advs__item-text.absolute
            .advs__item-title.text-c5.text-500=title
            .advs__item-desc.flex.flex-col
                | !{desc}